{% extends "brainstorm/base.html" %}
{% load people %}

{% block extrahead %}
<link rel="alternate" type="application/rss+xml" title="Latest Project Asks"  href="/projects/feeds/asks/" />
{% endblock %}

{% block title %}
Sunlight Labs: Project Asks
{% endblock title %}

{% block content %}
<div id="projects" class="module">

    <div class="contentHeader">
        <h2 id="helpHeader">All Requests For Help</h2>
        <a class="tip rss" href="/projects/feeds/asks/">Subscribe to this feed</a>
    <div class="clear"></div>
    </div>

    <div class="module">
		<p class="tip">Here are the requests people have made for help on the projects they're working on. If one of them looks appealing, contact the lead, and get to work.</p>
        <dl id="requestList">
            {% for ask in ask_list %}
            <dt>{{ask.message|urlize}}</dt>
            <dd><a href="{{ ask.project.get_absolute_url }}">{{ask.project}}</a>
            {{ask.timestamp|date}}</dd>
            {% endfor %}
        </dl>
    </div>
</div>

{% endblock %}
