{% load tagging_tags %}

{% for field in project_form.hidden_fields %}
    {{ field }}
{% endfor %}
    
<ul id="projectForm_details">
    {% for field in project_form.visible_fields %}
    <li> {{field.errors}} {{ field.label_tag }} {{ field }}

    {% ifequal field.name "tags" %}
        <div id="fancy_tags_widget">
            <p><a id="show_common_tags" href="#">Show Common Tags List</a></p>
            <div class="commonProject_tags" id="commonTags_wrapper">
                <p class="tip">Click on the common tags below to add them to your list.</p>
                <ul id="common_tags">
                    {% tag_cloud_for_model projects.Project as used_tags with min_count=3 %}
                    {% for tag in used_tags %}
                    <li class="common_tag"><a href="#">{{tag}}</a></li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>    
            <input id="tags" type="text" />
            <button type="submit" class="addBtn">
                <span>Add Tag</span>
            </button>
            <p class="tip">e.g. python, apps for america 2</p>
            <div id="projectTags">
                <ul class="tag_buttons"> </ul>
                <div class="clear"></div>
            </div>
        </div>
    {% endifequal %}

    </li>
    {% endfor %}
</ul>
