{% extends "brainstorm/base.html" %}

{% block title %}Edit Project{% endblock title %}

{% block extrahead %} 
{% include "projects/tags_js.html" %}

<script type="text/javascript">
$(document).ready(function(){
    $('textarea[maxlength]').keyup(function(){
        var max = parseInt($(this).attr('maxlength'));
        if($(this).val().length > max){
            $(this).val($(this).val().substr(0, $(this).attr('maxlength')));
        }
        $(this).parent().find('.charsRemaining').html((max - $(this).val().length) + ' characters remaining');
    });
});

</script>
{% endblock %}

{% block body %}
<div class="column span-24">
	<div id="contentpage">
		<div id="flat_contentpage">
			<h2 class="page_header">Edit Your Project</h2>
			<h4>Editing your project: "{{project}}"</h4>
			
        	<form id="project_form" method="POST" action=".">
			<ul id="default_form">
            {% include "projects/base_form.html" %}
            {{ link_formset.management_form }}
         </ul>

			<h3>Links</h3>
            <table id="linksTable">
                <thead>
                    <tr id="titles">
                        <th>Link Name</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for linkform in link_formset.forms %}
                {% for field in linkform.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <tr>
                    {% for field in linkform.visible_fields %}
                    <td>
                        {% ifnotequal field.name "DELETE" %}
                            {{ field }}
                        {% else %}
                            {% if linkform.id.field.initial %}
                                <input id="id_{{field.html_name}}" type="checkbox" class="checkbox" name="{{field.html_name}}" />
                            {% endif %}
                        {% endifnotequal %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
			 
			<div id="hidefeedform">
			{{ feed_formset.management_form }}
	            <h3 class="h3tip">News Feed</h3>
	            <p class="tip">Update the community on the progress you and your team have made on {{project}}.</p>
	            <table id="feedsTable">
	                <thead>
	                    <tr id="titles">
	                        <th>Feed Name</th>
	                        <th>URL</th>
	                        <th>Delete?</th>
	                    </tr>
	                </thead>
	                <tbody>
	                {% for feedform in feed_formset.forms %}
	                    {% for field in feedform.hidden_fields %}
	                        {{ field }}
	                    {% endfor %}
	                <tr>
	                    {% for field in feedform.visible_fields %}
	                    <td>
	                        {% ifnotequal field.name "DELETE" %}
	                            {{ field }}
	                        {% else %}
	                            <input id="id_{{field.html_name}}" type="checkbox" class="checkbox" name="{{field.html_name}}" />
	                        {% endifnotequal %}
	                    </td>
	                    {% endfor %}
	                </tr>
	                {% endfor %}
	                </tbody>
	            </table>
				</div>
         

            {{ role_formset.management_form }}
            <h3>Project Members</h3>
            <p>Add and keep track of community members who have requested to become part of {{project}}.</p>
            <table id="projectMembers">
                <thead>
                    <tr id="titles">
                        <th class="member_left">User</th>
                        <th class="member_message">Message</th>
                        <th>Status</th>
                    </tr>    
                </thead>
                <tbody>
                {% for roleform in role_formset.forms %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="member_left"> <a href="{{ up.user.get_absolute_url }}">{{roleform.instance.user}}</a> </td>
                    <td class="member_message">{{roleform.instance.message}}</td>
                    {% for field in roleform %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

			<input type="submit" value="Create Your Project" class="buttonProject" />
        </form>
    </div>
</div>
{% endblock %}
