{% extends "brainstorm/base.html" %}

{% block title %}
Sunlight Labs: Edit Project
{% endblock title %}

{% block extrahead %} 
{% include "projects/tags_js.html" %}

<script type="text/javascript">
$(document).ready(function(){
    $('textarea[maxlength]').keyup(function(){
        var max = parseInt($(this).attr('maxlength'));
        if($(this).val().length > max){
            $(this).val($(this).val().substr(0, $(this).attr('maxlength')));
        }
        $(this).parent().find('.charsRemaining').html((max - $(this).val().length) + ' characters remaining');
    });
});

</script>
{% endblock %}

{% block content %}
<div id="join_project" class="module">
    <div id="createHeader" class="contentHeader">
        <h2>Editing Project {{project}}</h2>
    </div>
    <div class="module">
        <form id="projectForm" method="POST" action=".">
            {% include "projects/base_form.html" %}
            {{ link_formset.management_form }}
            <h3>Links</h3>
            <table id="linksTable">
                <thead>
                    <tr id="titles">
                        <th>Link Name</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for linkform in link_formset.forms %}
                {% for field in linkform.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <tr>
                    {% for field in linkform.visible_fields %}
                    <td>
                        {% ifnotequal field.name "DELETE" %}
                            {{ field }}
                        {% else %}
                            {% if linkform.id.field.initial %}
                                <input id="id_{{field.html_name}}" type="checkbox" class="checkbox" name="{{field.html_name}}" />
                            {% endif %}
                        {% endifnotequal %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ feed_formset.management_form }}
            <h3 class="h3tip">News Feed</h3>
            <p class="tip">Update the community on the progress you and your team have made on {{project}}.</p>
            <table id="feedsTable">
                <thead>
                    <tr id="titles">
                        <th>Feed Name</th>
                        <th>URL</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                {% for feedform in feed_formset.forms %}
                    {% for field in feedform.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                <tr>
                    {% for field in feedform.visible_fields %}
                    <td>
                        {% ifnotequal field.name "DELETE" %}
                            {{ field }}
                        {% else %}
                            <input id="id_{{field.html_name}}" type="checkbox" class="checkbox" name="{{field.html_name}}" />
                        {% endifnotequal %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ role_formset.management_form }}
            <h3 class="h3tip">Project Members</h3>
            <p class="tip">Add and keep track of community members who have requested to become part of {{project}}.</p>
            <table id="projectMembers">
                <thead>
                    <tr id="titles">
                        <th class="member_left">User</th>
                        <th class="member_message">Message</th>
                        <th>Status</th>
                    </tr>    
                </thead>
                <tbody>
                {% for roleform in role_formset.forms %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="member_left"> <a href="{{ up.user.get_absolute_url }}">{{roleform.instance.user}}</a> </td>
                    <td class="member_message">{{roleform.instance.message}}</td>
                    {% for field in roleform %}
                    <td>
                        {{ field }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <button type="submit" class="updateProjectBtn">
                <span>Update Project Details</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h3>Ask For Help</h3>
<div class="module">
    <p class="tip">Let the community know what you need from them to make your project great.</p>
    <form method="POST" action="{% url new_project_ask project.slug %}">
        <textarea id="helpMessage" rows="5" cols="32" name="message" maxlength="200"></textarea>
        <p class="charsRemaining">200 characters remaining</p>
       <button type="submit" class="submitBtn" name="post">
            <span>Submit</span>
       </button>
   </form>
</div>
<h3 class="space">Current Asks</h3>
<div id="currentAsks" class="module">
    <ul>
        {% for ask in project.asks.all %}
        <li>
            <form action="{% url delete_ask ask.id %}" method="POST">
                <button type="submit" value="Delete">X</button>
             </form>
             <p>{{ask}}</p>
             <div class="clear"></div>
         </li>
         
        {% endfor %}
     </ul>
 </div>
{% endblock %}
