{% extends "brainstorm/base.html" %}

{% block title %}
Sunlight Labs: Join Project
{% endblock title %}

{% block content %}
<div id="join_project" class="module">
    <div class="contentHeader">
        <h2>Request to Join {{project}}</h2>
    </div>
    <div class="module">
        <p class="tip">Ask the project lead to add you to the project.</p>
        <p>Generally project leads will only add people to their project that have shown active participation already.
        If this would be your first contact with the project lead please consider first getting involved by submitting 
        patches or participating in the project's IRC channel or mailing list.</p>
        <form id="joinProjectForm" method="POST" action=".">
            <ul>
                {{ form.message }}
                <button type="submit" class="submitBtn">
                    <span>Submit</span>
                </button>
            </ul>
        </form>
    </div>
</div>
{% endblock %}
