{% extends "base.html" %}

{% block title %}Create Project{% endblock title %}

{% block body %}
<div class="column span-24">
	<div id="contentpage">
		<div id="flat_contentpage">
        	<h2 class="space">Create A Project</h2>
        	<form  method="POST" action="." id="project_form">
				<ul id="default_form">
            		{% include "projects/base_form.html" %}
					<li>
						<input type="submit" value="Create Project" class="buttonProject" />
					</li>
				</ul>
        	</form>
    	</div>
	</div>
</div>
{% endblock %}
