{% extends "brainstorm/base.html" %}
{% load projects %}

{% block title %}
{% ifequal projects "official" %} Official {% endifequal %}
{% ifequal projects "community" %} Community {% endifequal %}
Projects
{% endblock title %}

{% block body %}
<div class="column span-12">
	<div id="contentpage">
		<div id="flat_contentpage">
				<h2 class="page_header">
        			{% ifequal projects "official" %} Official {% endifequal %}
        			{% ifequal projects "community" %} Community {% endifequal %}
        			Projects
        			{% if tag %} tagged {{tag}} {% endif %}
				</h2>

    <a href="{% url new_project %}">Create A New Project</a>
<a {% ifequal projects "all" %}class="active"{% endifequal %} href="{% url all_projects %}">All Projects</a>
		</div>
	</div>
</div>
<div class="column span-12 last">&nbsp;</div>

<div class="column span-24">

            


    {% for project in project_list %}
        {% include "projects/project_summary.html" %}
    {% endfor %}



	<div style="clear:both;">&nbsp;</div>

DON'T FORGET PAGINATION stuff.
{% include "pagination_div.html" %}

</div>


{% endblock %}