{% extends "brainstorm/base.html" %}

{% block title %}
Sunlight Labs: Projects &amp; Ideas
{% endblock title %}

{% block content %}
<div class="contentHeader">
    <h2 class="projects projectHeader">Projects</h2>
    <a class="tip rss" href="/projects/feeds/latest/">Subscribe to this feed</a>
    <a id="projectCreate" href="/projects/new/">Create A New Project</a>
    <div class="clear"></div>
</div>
<div id="projects" class="module">
    <p class="tip">These are active projects that are currently being worked on in the labs community. <strong><br/> <a href="{% url all_project_asks %}">Feel free to help</a></strong> on a project you're interested in or just <strong>keep your eye out for the final product</strong>.</p>
    <div id="projectNav">
        <ul>
            <li id="allProjects">
                <a class="active" href="{% url all_projects %}">All Projects</a>
            </li>  
            <li id="labsProjects">
                <a href="{% url official_projects %}">Labs Projects</a>
            </li>  
            <li id="communityProjects">
                <a href="{% url community_projects %}">Community Projects</a>
            </li>
        </ul>
    </div>
    {% for project in projects %}
        {% include "projects/project_summary.html" %}
    {% endfor %}
    <p class="arrow"><a class ="viewAll" href="{% url all_projects %}">View All</a></p>
</div>

<div class="contentHeader ideadHeader_wrapper">
    <h2 class="ideas ideaHeader">Ideas</h2>
    <a class="tip rss" href="/ideas/feeds/latest/ideas/">Subscribe to this feed</a>
    <div class="clear"></div>
</div>
<div id="ideas" class="module">
    <p class="tip">Want to help and are looking for a great project, <strong>claim one from the list below!</strong><br /> See something that's interesting but you don't have the time to help, <strong>vote it up</strong> so that other people find it and get to work!</p>
    {% for idea in ideas %}
        {% include "brainstorm/idea.html" %}
    {% endfor %}
    <p class="arrow"><a class ="viewAll" href="{% url ideas_popular %}">View All</a></p>
</div>
{% endblock content %}
