{% extends "base.html" %}
{% load projects %}

{% block title %}
{% ifequal projects "official" %} Official {% endifequal %}
{% ifequal projects "community" %} Community {% endifequal %}
Projects
{% endblock title %}

{% block body %}
<div class="column span-16">
	<div id="contentpage">
		<div id="flat_contentpage">
				<h2 class="page_header">
        			{% ifequal projects "official" %} Official {% endifequal %}
        			{% ifequal projects "community" %} Community {% endifequal %}
					{% ifequal projects "all" %} All {% endifequal %}

        			Projects
        			{% if tag %} tagged "{{tag}}" {% endif %}
				</h2>
				<p>Content goes here about projects and stuff.</p>
				
				
				
				
				
				
		</div>
	</div>
</div>

<div class="column span-8 last">
	<div id="sidebar_space">
		{% if tag %} {% else %}<a href="{% url new_project %}"><img src="/media/images/project_start.png" border="0"></a>{% endif %}
	</div>
</div>
		
<div class="column span-24">

<div id="projects_results">           
    <table class="projects_table">
		<thead>
            <tr id="titles">
                <th class="project_title" id="title_name">Project Title</th>
                <th class="project_description">Description</th>
                <th class="project_date">Added</th>
            </tr>
        </thead>
	
	<tbody>
    {% for project in project_list %}
        {% include "projects/project_summary.html" %}
    {% endfor %}
	</tbody>
	</table>
</div>






</div>


{% endblock %}