{% extends "brainstorm/base.html" %}

{% block title %}Projects &amp; Ideas
{% endblock title %}

{% block body %}

    <h3 class="page_header">Community Projects</h3>
    <a href="/projects/new/">Create A New Project</a>

<div id="projects" class="module">
    <p>These are active projects that are currently being worked on in the community.</p>
    {% for project in projects %}
        {% include "projects/project_summary.html" %}
    {% endfor %}
    	<p class="arrow"><a class ="viewAll" href="{% url all_projects %}">View All</a></p>
</div>
{% endblock %}
