{% extends "brainstorm/base.html" %}
{% load people %}
{% load tagging_tags %}
{% block title %}Projects - {{project.name}}{% endblock title %}

{% block body %}

<div class="column span-24">
	<div id="contentpage">
		<div id="flat_contentpage">

    {% ifequal project.lead user %}
		<h2 class="page_header">{{project.name}}</h2> <a href="{% url edit_project project.slug %}">edit project</a> | <a href="{% url all_projects %}">View All Projects</a>
    {% else %}
<h2 class="page_header">{{project.name}}</h3> 
<p><a href="{% url all_projects %}">View All Projects</a></p>
    {% endifequal %}
	<p>{{project.description}}</p>

        <dl class="entryMetadata">
            {% if project.official %}
			This project is funded by <a class="seperationBlock" class="seperationBlock" href="{% url official_projects %}">Sunlight</a>
            {% endif %}

			<p>Became a project on {{project.creation_date|date}}</p>

            {% if project.idea %}
            <p>Project began as an implementation of idea</p>
            <p>"<a href="{{project.idea.get_absolute_url}}">{{project.idea}}</a>"</p>
            {% endif %}

            {% with project.related_events.future as events %}
            {% if events %}
                <p>Upcoming hackathons working on this project:</p>
                {% for event in events %}
                    <p><a href="{{event.get_absolute_url}}">{{event}}</a></p>
                {% endfor %}
            {% endif %}
            {% endwith %}



        {% tags_for_object project as tags %}
            <h4>Tags</h4>
            <ul>
                {% for tag in tags %}
                <li><a href="{% url projects_tagged tag %}">{{tag}}</a></li>
                {% endfor %}
            </ul>


            <ul>
                {% for link in project.links.all %}
                <li class="{{link.get_link_type_display}}_link">
                    <a title="{{link.get_link_type_display}}" href="{{link.url}}">{{link.name}}</a>
                </li>
                {% endfor %}
            </ul>


        {% with project.asks.all as asks %}
        {% if asks %}

            <h4>Help Wanted:</h4>
                <ul>
                    {% for ask in asks %}
                    <li>
                    {{ask}}
                    </li>
                    {% endfor  %}
                </ul>
                <a id="allRequests_link" href="{% url all_project_asks %}">View All Requests for Help »</a>

        {% endif %}
        {% endwith %}
	</div>
  </div>      
</div>

{% endblock %}
