{% extends "brainstorm/base.html" %}
{% load people %}
{% load blog %}
{% load tagging_tags %}
{% load newsfeed_tags %}

{% block title %}
Sunlight Labs: Projects - {{project.name}}
{% endblock title %}

{% block content %}
{% ifequal project.moderation_object.moderation_status -1 %}

<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">Project Removed</h2>
    </div>
    <div class="module">
        <p>
        This project has been removed, we should have some copy here explaining what our moderation procedures are.

        <dl class="moderationMetadata">
            <dt>Removed by</dt>
            <dd>{% display_name project.moderation_object.moderation_status_by %}</a></dd>
            <dt>Date</dt>
            <dd>{{project.moderation_object.moderation_status_date|date}}</dd>
            <dt>Reason</dt>
            <dd>{{project.moderation_object.moderation_reason}}</dd>
        </dl>
        </p>
    </div>
</div>

{% else %}
<div id="projects" class="module">

    {% ifequal project.lead user %}
    <div id="projectDetail_header" class="contentHeader">
        <h2 class="projects">{{project.name}}</h2>
        <a class="projectEdit" href="{% url edit_project project.slug %}">edit project</a>
        <div class="clear"></div>
    </div>
    {% else %}
    <div class="contentHeader">
        <h2 class="projects">{{project.name}}</h2>
    </div>
    {% endifequal %}

    <div id="projectDetail" class="module">
        <dl class="entryMetadata">
            {% if project.official %}
            <dt>This project is funded by</dt>
            <dd><a class="seperationBlock" class="seperationBlock" href="{% url official_projects %}">Sunlight</a></dd>
            {% endif %}

            <dt>Became a project on</dt>
            <dd>{{project.creation_date|date}}</dd>

            {% if project.idea %}
            <dt>Project began as an implementation of idea</dt>
            <dd>"<a href="{{project.idea.get_absolute_url}}">{{project.idea}}</a>"</dd>
            {% endif %}

            {% with project.related_events.future as events %}
            {% if events %}
                <dt>Upcoming hackathons working on this project:</dt>
                {% for event in events %}
                    <dd class="event"><a href="{{event.get_absolute_url}}">{{event}}</a></dd>
                {% endfor %}
            {% endif %}
            {% endwith %}

        </dl>

        {% tags_for_object project as tags %}
        <div id="languages">
            <h3 id="skillsHeader">Tags</h3>
            <ul>
                {% for tag in tags %}
                <li><a href="{% url projects_tagged tag %}">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="project_mainDetails">
            <div id="projectDescription">{{project.description}}</div>
            <ul>
                {% for link in project.links.all %}
                <li class="{{link.get_link_type_display}}_link">
                    <a title="{{link.get_link_type_display}}" href="{{link.url}}">{{link.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% with project.asks.all as asks %}
        {% if asks %}
        <div id="helpwanted">
            <h4>Help Wanted:</h4>
            <div id="wantedData">
                <ul>
                    {% for ask in asks %}
                    <li>
                    {{ask}}
                    </li>
                    {% endfor  %}
                </ul>
                <a id="allRequests_link" href="{% url all_project_asks %}">View All Requests for Help »</a>
                <div class="clear"></div>
            </div>

        </div>
        <div class="clear"></div>
        {% endif %}
        {% endwith %}

        <div id="timeline">
            {% if project.subscriptions.count %}
            <h3>News</h3>
            <ul id="projectTimeline" class="leftTimeline">
                {% render_feed project.slug 10 %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endifequal %}
{% endblock %}

{% block sidebar %}
{% ifnotequal project.moderation_object.moderation_status -1 %}
<h3 class="space">Project Participants</h3>
<div class="module">
    <h4>Lead</h4>
    <a id="leadParticipant" href="{{project.lead.get_absolute_url}}">
        {% gravatar project.lead.email %}
        <span id="leadName">{% display_name project.lead %}</span>
    </a>
    <div class="clear"></div>

    {% with project.get_members as members %}
    {% if members %}
    <h4 id="teamHeader">Team</h4>
    <ul id="teamParticipants">
        {% for member in members %}
            <li>
                <a href="{{member.get_absolute_url}}">{% gravatar member.email %}
                    <span>{% display_name member %}</span>
                </a>
            </li>
        {% endfor %}
        <div class="clear"></div>
    </ul>
    {% endif %}
    {% endwith %}
</div>

<hr></hr>
<h3 class="space">Join This Project?</h3>
<div id="projectJoin" class="module">
    <p>If you're interested in helping out on this project, you should! Here's how:</p>
    <ol id="joinProject_list">
        <li>
            <span class="joinProject_details">Contact</span>
            <p><a href="{% url contact_user project.lead.username %}">Contact the Project Lead</a></p>
        </li>
        <li>
            <span class="joinProject_details">Contribute</span>
            <p>Contribute Some Code</p>
        </li>
        <li>
            <span class="joinProject_details">Join</span>
            <p>After you've contacted and contributed to the project, click the Join This Project button below to be listed as a contributor.</p>
        </li>
    </ol>
    <a href="{% url join_project project.slug %}">
    <button type="submit" class="joinBtn">
        <span>Join</span>
    </button>
    </a>
</div>
<div class="clear"></div>
{% endifnotequal %}
{% endblock %}
