{% extends "brainstorm/base.html" %}
{% load projects %}

{% block title %}
{% ifequal projects "official" %} Official {% endifequal %}
{% ifequal projects "community" %} Community {% endifequal %}
Projects
{% endblock title %}

{% block body %}
<div class="contentHeader">
    <h2 class="projects projectHeader">
        {% ifequal projects "official" %} Official {% endifequal %}
        {% ifequal projects "community" %} Community {% endifequal %}
        Projects
        {% if tag %} tagged {{tag}} {% endif %}
    </h2>
    <a id="projectCreate" href="{% url new_project %}">Create A New Project</a>
    <div class="clear"></div>
</div>
<div id="projects" class="module">
    <div id="projectNav" class="projectList_nav">
        <ul>
            <li id="allProjects">
            <a {% ifequal projects "all" %}class="active"{% endifequal %} href="{% url all_projects %}">All Projects</a>
            </li>
        </ul>
    </div>
    {% for project in project_list %}
        {% include "projects/project_summary.html" %}
    {% endfor %}
</div>
{% include "pagination_div.html" %}
{% endblock %}