{% load media %}
{% js "fancytags.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        var ftctl = fancytags('#id_tags');

        $('.common_tag a').click(function(event) {
            event.preventDefault();
            ftctl.add_tag(($(this).text()));
        });

        $('#show_common_tags').click(function(event) {
            event.preventDefault();
            $('div#commonTags_wrapper').toggle();
        });
        $('div#commonTags_wrapper').hide();
    });
</script>
