Django

# non-django dependencies
boto
python-twitter
markdown
textile
feedparser




# third party apps
django-tagging


# -e git://github.com/thauber/django-schedule.git#egg=django-schedule
# -e git://github.com/t11e/boto.git#egg=boto

-e git://github.com/jamesturk/django-markupfield.git#egg=markupfield




# sunlight apps
#-e git://github.com/sunlightlabs/django-blogdor.git#egg=django-blogdor
-e git://github.com/sunlightlabs/django-feedinator.git#egg=django-feedinator
# -e git://github.com/sunlightlabs/django-gatekeeper.git@0.1.0#egg=django-gatekeeper
django-mediasync
#django-debug-toolbar
