{% extends "base.html" %}
{% load i18n %}

{% block title %}Activation Complete{% endblock title %}

{% block body %}
<div class="column span-15">
	<div id="contentpage">
		<h2 class="page_header">Great!</h2>
<p>You are now officially a member of the Public=Online online community. (We're pretty sure an angel just got its wings, though the data cannot confirm it.) </p>

<p>One of the first things you can do is to look for <a href="/events">events</a> or <a href="/projects/">projects</a> that you're interested in. Don't see anything for you? <a href="projects/new/">Get something started</a>! If you're not sure exactly how to plug in yet, that's ok. Come back often and see what's going on or be the spark in your local community after you're inspired. </p>

<p>	Most importantly, we're tremendously excited to have another teammate (you!) in this movement to make government more open and transparent!</p>

</div>
</div>

<div class="column span-9 last">&nbsp;</div>


{% endblock %}
