{% extends "base.html" %}
{% load i18n %}

{% block title %}Change Your Password{% endblock title %}

{% block body %}
<div class="column span-16">
	<div id="contentpage">
		<div id="flat_contentpage">
			<h2 class="page_header">Change Your Password</h2>

			<form method="post" action="." id="project_form">
  				{{ form.as_ul }}

  			<li><input type="submit" value="Change Password" class="buttonProject"/></li>
			</form>

		</div>
	</div>
</div>
<div class="column span-8 last">
	&nbsp;
</div>


{% endblock %}
