{% extends "base.html" %}
{% load i18n %}
{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="column span-12">
	<div id="contentpage">
		<div id="flat_contentpage">
				<h2 class="page_header">Forgot Your Password?</h2>
<p>No worries, it happens to the best of us.</p>

<form method="post" action="." id="login_form">
<ul id="default_form">
  {{ form.as_ul }}
  <li><input type="submit" value="{% trans 'Request a Password Reset' %}" class="button" /></li>
</ul>
</form>
</div>
</div>
</div>

<div class="column span-12 last">
&nbsp;
</div>

{% endblock %}
