{% extends "base.html" %}
{% load media %}

{% block title %}
{{block.super}}: Ideas
{% endblock %}

{% block extrahead %}
    {% js "voting.js" %}
{% endblock %}

{% block bodyclass %}projects{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<h3>Submit An Idea</h3>
<div id="submitIdea" class="module">
    <p class="tip">Have a great idea, <strong>tell us about it using the form below</strong>!</p>
    <form method="POST" action="{% url new_idea %}">
        <ul>
            <li>
                <label for="id_title">Title</label>
                <input id="id_title" type="text" name="title" maxlength="30" />
            </li>
            <li>
                <label for="id_description">Description</label>
                <textarea id="id_description" class="textarea" name="description" cols="32" rows="5"></textarea>
            </li>
            <button type="submit" class="submitBtn">
                <span>Submit</span>
            </button>
        </ul>
    </form>
</div>
<hr></hr>
{% endif %}

<h3 class="space">How Our Process Works</h3>
<div id="process" class="module">	
    <ol id="processList">
        <li>
            <span id="mess">Mess</span>
            <p>Disorganized government data needs your help.</p>
        </li>
        <li>
            <span id="ideas">Ideas</span>
            <p>Ideas are born on how to make government data more useful and accessible.</p>
        </li>
        <li>
            <span id="community">Community</span>
            <p>The community contributes to these ideas to make them reality.</p>
        </li>	
        <li>
            <span id="transparency">Transparency</span>
            <p>We're one step closer to government transparency.</p>
        </li>
        <a class="learnBtn" href="#">Learn More</a>
    </ol>	
</div>	
<div class="clear"></div>
{% endblock %}
