{% extends "brainstorm/base.html" %}

{% block body %}
<div class="contentHeader ideadHeader_wrapper">
    <h2 class="ideas ideaHeader">Ideas</h2>
    <a class="tip rss" href="/ideas/feeds/latest/ideas/">Subscribe to this feed</a>
    <div class="clear"></div>
</div>

<div id="ideas" class="module">

    <p class="tip">Want to help and are looking for a great project, <strong>claim one from the list below!</strong><br /> See something that's interesting but you don't have the time to help, <strong>vote it up</strong> so that other people find it and get to work!</p>
	<div id="ideaNav">
		<ul>
		   {% ifequal ordering "most_popular" %}
		  	   <li id="nav_popular"><a class="active" href="{% url ideas_popular %}">Most Popular</a></li>
		       <li id="nav_recent"><a href="{% url ideas_latest %}">Most Recent</a></li>
		   {% else %}
			   <li id="nav_popular"><a href="{% url ideas_popular %}">Most Popular</a></li>
			   <li id="nav_recent"><a class="active" href="{% url ideas_latest %}">Most Recent</a></li>
		   {% endifequal %}
		</ul>
	</div>


    {% for idea in idea_list %}
        {% include "brainstorm/idea.html" %}
    {% endfor %}
</div>

{% include "includes/pagination.html" %}
{% endblock %}

