{% extends "brainstorm/base.html" %}
{% load people %}

{% block title %}
{{block.super}} - {{idea.title}}
{% endblock %}

{% block body %}
{% ifequal idea.moderation_object.moderation_status -1 %}

<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">Idea Removed</h2>
    </div>
    <div class="module">
        <p>
        This idea has been removed, we should have some copy here explaining what our moderation procedures are.

        <dl class="moderationMetadata">
            <dt>Removed by</dt>
            <dd>{% display_name idea.moderation_object.moderation_status_by %}</a></dd>
            <dt>Date</dt>
            <dd>{{idea.moderation_object.moderation_status_date|date}}</dd>
            <dt>Reason</dt>
            <dd id="ideaReason">{{idea.moderation_object.moderation_reason}}</dd>
        </dl>
        </p>
    </div>
</div>

{% else %}
<div id="ideas" class="module">
    <div class="contentHeader">
        <h2 class="ideas">{{idea.title}}</h2>
    </div>
    <div class="module">
        <dl class="entryMetadata">
            <dt>Posted by</dt>
            <dd><a class="seperationBlock" href="{{idea.user.get_absolute_url}}">{% firstof idea.user.first_name idea.user.username %}</a></dd>
            <dt>Date</dt>
            <dd>{{idea.submit_date|date}}</dd>
        </dl>
        <p>{{idea.description}}</p>

        {% if idea.projects.count %}
		<h4>Projects Created From This Idea</h4>
        <ul>
            {% for proj in idea.projects.all %}
            <li> <a href="{{proj.get_absolute_url}}">{{proj}}</a> was started by <a href="{{proj.lead.get_absolute_url}}">{% display_name proj.lead %}</a> on {{proj.creation_date|date}} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="startnewBtn">
            <span>Start/Lead A New Project</span>
        </button>
        <div class="clear"></div>


        <div id="leadBox">
            <h3>Are you sure you want to lead this project?</h3>
            <p> If you want to lead a project, this means you're responsible for it. Please only choose to lead a project if you have the time to commit, the passion to lead it, and the skills to get it done. Projects that are inactive after 30 days may be removed.</p>
            <a href="{% url new_project %}?from_idea={{idea.id}}">
            <button type="submit" class="agreeBtn">
                <span>I Agree</span>
            </button>
            </a>
        </div>
        {% with idea as comment_obj %}
            {% include "comments/comment_box.html" %}
        {% endwith %}
    </div>
</div>
{% endifequal %}
{% endblock %}
