{% extends "callingtool/base.html" %}
{% load media %}

{% block callingtool %}

	{% if has_called %}
    <div id="thanks_box"><h1 class="header thanks">Thank you for calling your representative in support of the Earmark Transparency Act!</h1>
    <p>
    Could you also take a moment to ask your friends on Facebook and Twitter to call as well using this message: <br />
    It's critical that we know who is influencing our government. Tell Congress to pass the Earmark Transparency Act now <a href="http://snlg.ht/DiscloseNow">http://snlg.ht/DiscloseNow</a>
    <hr />
    </p>
    </div>
	{% else %}
		<ol id="step-preview">
			<li><span>Determine your representative.</span></li>
			<li><span>Call his or her office.</span></li>
			<li><span>Ask if he or she will co-sponsor the Earmark Transparency Act.</span></li>
		</ol>
	{% endif %}
	
	<p>Please enter your zip code to begin:</p>
	
	<ol id="steps">
		
		<li id="step1" class="step">
			<form action="." method="post" id="stateform">
                <h4><label for="zip">Enter your zip code:</label></h4>
                <input name="zip" id="zipcode" maxlength=5>
				<input type="submit" value="Search">
			</form>
		</li>
		
		<li id="step2" class="step" style="display: none;">
			<h4>Select a representative to contact by phone</h4>
			<div id="rep-list"></div>
			<div class="clear"></div>
		</li>
		
	</ol>
	
	<div id="loading">
		<img src="{% media_url %}/images/ajax-loader.gif">
	</div>
	
{% endblock %}

{% block scripts %}
	<script>
		$().ready(function() {
			var loading = $('#loading')
			var repList = $('#rep-list');
	        $('#stateform').submit(function() {
	            var value = $('#zipcode').val();
				if (value != '') {
					var url = '/call/state_reps/' + value + '/';
					repList.hide();
					loading.show();
					repList.load(url, null, function() {
						loading.hide();
						repList.show();
						$('#step2').show();
						window.location.hash = value;
					});
	                }
				return false;
			});
			var zipcode = window.location.hash.substr(1);
			if (zipcode) {
				$('#zipcode').val(zipcode);
				$('#stateform').submit();
			}
		});
	</script>
{% endblock %}
