{% extends "callingtool/base.html" %}
 
{% block callingtool %}

	<ol id="steps">
		<li id="step3" class="step">
			
			<div id="the_inside_pitch">
				<img src="http://assets.sunlightfoundation.com/moc/100x125/{{ legislator.legislator.bioguide_id }}.jpg" border="0">
				<h2>Where does {{legislator.legislator.title}}. {{legislator.legislator.lastname}} ({{ legislator.legislator.party }}) stand?</h2> 
				<p>
					Please call {{legislator}} to find out where {{legislator.he_or_she}} stands on the Earmark Transparency Act ({{ bill }}) and let
					{{legislator.him_or_her}} know that {{legislator.he_or_she}} should support the bill.
				</p>
				<!-- <p class="calls">Calls: {{ calls|length }} reported</p> -->
			</div>
			
			<div class="clear"></div>
 
			<h3>Call {{legislator.legislator.title}}. {{legislator.legislator.lastname}}'s office: {{legislator.legislator.phone}}</h3>
			<p>Ask to speak to a legislative aide, or you can leave a message with the receptionist.</p> 
 
			<form method="post" action="{% url submit_call legislator.id %}"> 
				
				{% if legislator.is_cosponsor %}
					
					<div class="script_item" id="script_opener">
						
						<h4>Suggested Conversation Script</h4>
						<blockquote>
							<p>&#8220;I’m just calling to thank {{ title }} {{ legislator.legislator.lastname }} for {{ legislator.his_or_her }} co-sponsorship and support of the Earmark Transparency Act. This is a common sense step that would help me know how government funds are being spent in my district, and it means a lot to me as a constituent that {{ title }} {{ legislator.legislator.lastname }} is helping to make a more transparent government through this bill.&#8221;</p>
						</blockquote>
						{% include "callingtool/amendment_script.html" %}
						
					</div>	
						
					<div class="script_item"> 
						<h5>Thank you for completing the call to {{legislator}}.</h5>
						<p>Please fill out the form below to submit your call.</p>
						<ul>
							<li><label>Name</label><input name="name" type="text" /><small>(optional, not displayed publicly)</small></li>
							<li><label>Email</label><input name="email" type="email" /><small>(not displayed publicly)</small></li>
							<li><label>Zip Code</label> <input name="zip" type="text" size="5"/><small>(optional)</small></li>
							<li><label>Comments / Notes</label><textarea name="comments"></textarea></li>
						</ul>
						<input type="hidden" name="on_bill" value="yes" />
						<input type="submit" value="Record your 'Thank you' call" class="submit" />
					</div>
					
				{% else %} 
					
					<div class="script_item" id="script_opener"> 
						<h4>Suggested Conversation Script</h4>
						<blockquote>
							<p>&#8220;Hi, my name is <em>[your name]</em> and I'm a constituent. I'm calling to ask {{ title }} {{ legislator.legislator.lastname }} to co-sponsor the Earmark Transparency Act, {{ bill }}. This legislation will help me as a constituent better understand how government money is being requested and used in my district. Will {{ title }} {{ legislator.legislator.lastname }} support {{ bill }}?&#8221;</p>
						</blockquote>
						<select name="on_bill" id="on_bill"> 
							<option value="n/a">-- Report the Response --</option> 
							<option value="yes">Yes</option> 
							<option value="unknown">I don't know / Has yet to decide</option> 
							<option value="no">No</option> 
						</select>
					</div>
					
					<div class="script_item on_bill_answer" id="on_bill_yes"> 
						<!-- <h5 class="answer answer-yes">If "Yes" on supporting or cosponsoring {{ bill }}</h5> -->
						<blockquote>
							<p>&#8220;That’s great! Please thank {{ title }} {{ legislator.legislator.lastname }} for {{ legislator.his_or_her }} support for a more transparent Congress.&#8221;</p>
						</blockquote>
						{% include "callingtool/end_call.html" %}
					</div> 
					
					<div class="script_item on_bill_answer" id="on_bill_unknown"> 
						<!-- <h5 class="answer answer-unknown">I don't know or {{legislator.legislator.title}}. {{legislator.legislator.lastname}} hasn't decided yet on {{ bill }}</h5> -->
						<blockquote>
							<p>&#8220;Please let {{ title }} {{ legislator.legislator.lastname }} know that as a constituent, I sincerely hope {{ legislator.he_or_she }} supports the Earmark Transparency Act.  This is a common sense step that would help me know how government funds are being spent in my district.  I hope {{ title }} {{ legislator.legislator.lastname }} will commit to supporting a more transparent government through this bill.&#8221;</p>
						</blockquote>
						{% include "callingtool/end_call.html" %}
					</div> 
						
					<div class="script_item on_bill_answer" id="on_bill_no"> 
						<!-- <h5 class="answer answer-no">If "No"</h5> -->
						<blockquote>
							<p>&#8220;Please let {{ title }} {{ legislator.legislator.lastname }} know that I sincerely hope {{legislator.he_or_she}} reconsiders. The Earmark Transparency Act is a common sense step to allow myself and other constituents access to information about how government funds are being spent in my district.  This is public information that should be available online and in real time.  I hope {{ title }} {{ legislator.legislator.lastname }} will ultimately commit to supporting a more transparent government.&#8221;</p>
						</blockquote>
						{% include "callingtool/end_call.html" %}
					</div> 

					<div class="script_item" id="call_complete"> 
						<h5>Thank you for completing the call to {{legislator}}.</h5>
						<p>Please fill out the form below to submit your findings.</p>
						<ul>
							<li><label>Name</label><input name="name" type="text" /><small>(optional, not displayed publicly)</small></li>
							<li><label>Email</label><input name="email" type="email" /><small>(not displayed publicly)</small></li>
							<li><label>Zip Code</label> <input name="zip" size="5" maxlength="5" type="text" /><small>(optional)</small></li>
							<li><label>Comments / Notes</label><textarea name="comments"></textarea></li>
						</ul>
						<input type="submit" value="Submit the Congressional Office's Response"	 class="submit" /> 
					</div>
					
				{% endif %}
				
			</form>
		</li>
	</ol>
	<div id="made_calls">
		<p>{{ calls|length }} calls have been made to {{legislator}} ({{legislator.legislator.party}}-{{legislator.legislator.state}})</p> 
		<table>
			<thead>
				<tr> 
					<th>Time</th>
					<th>Comments / Notes</th>
					<th>Supports {{ bill }}</th>
				</tr>
			</thead>
			<tbody> 
				{% for call in calls %}
					<tr> 
						<td width="20%">{{call.date|date:"m.d.y"}} @ {{call.date|date:"h:i A"}}</td> 
						<td width="45%">{{call.comments}}</td> 
						<td width="20%">{{call.on_bill}}</td> 
					</tr> 
				{% endfor %}
			</tbody> 
		</table> 
	</div>
{% endblock %}

{% block scripts %}
	<script> 
		$(function() {
			$('#on_bill').change(function() {
				$('.on_bill_answer').slideUp();
				$('#on_bill_'+this.value).slideDown();
				if (this.value == 'unknown' || this.value == 'no' || this.value=='yes') {
					$('#call_complete').slideDown();
				} else {
					$('#call_complete').slideUp();
				}
			});
		});
	</script>
{% endblock %}