{% extends "callingtool/base.html" %}
{% load media %}

{% block meta-description %}Call your representatives and ask them to co-sponsor the Earmark Transparency Act.{% endblock %}
{% block meta %}
	<meta name="title" content="I just helped make the government a little more transparent. Will you?">
	<link rel="image_src" href="http://assets.publicequalsonline.com/logos/public_equals_online_vertical_100x100.png" / >
{% endblock %}

{% block callingtool %}

	{% if has_called %}
		<div id="calltool-thanks">
		
			<p class="thanks">Thank you for taking action to protect the Electronic Government Fund and crucial transparency websites!</p>
			<p>Could you also take a moment to ask your friends to call as well using this message:</p>
	
			<blockquote>
				<p>I just asked my representatives to #savethedata &amp; protect crucial government transparency websites. Will you? http://snlg.ht/savethedata</p>
			</blockquote>	
		
			<p>
				Share on
				<a href="http://twitter.com/home?status=I%20just%20asked%20my%20representatives%20to%20%23savethedata%20%26%20protect%20crucial%20government%20transparency%20websites.%20Will%20you%3F%20http%3A%2F%2Fsnlg.ht%2Fsavethedata" target="_blank">
					<img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Share on Twitter" />
				</a>
			</p>

		</div>
	{% else %}
		
		<ol id="step-preview">
			<li><span>Find your representatives.</span></li>
			<li><span>Call their offices.</span></li>
			<li><span>Ask your Representative  and Senators to Save the Data by protecting the Electronic Government Fund and crucial transparency websites.</span></li>
			<li><span>Report the response.</span></li>
		</ol>
		
		<h2>Save the Data</h2>
		
        <p>Thanks for taking action to save the data and keep our federal flagship transparency initiatives alive.</p>
        <p>Data.gov, USASpending.gov, the IT Dashboard and other federal transparency websites are crucial initiatives in the movement for an open, accountable and transparent government.</p>
        <p>Congress will vote this week on a budget that will decide the future of these sites, so they need to hear from you now. Please take a few minutes to call your Representatives and Senators and ask them to save the Electronic Government Fund that would protect these transparency programs.</p>
        <p>Together, our voices are stronger, so let us know what they say.</p>
		
	{% endif %}
	
	<ol id="steps">
		
		<li id="step1" class="step">
			<form action="." method="post" id="stateform">
                <h4><label for="zip">Enter your zip code:</label></h4>
                <input type="text" name="zip" id="zipcode" maxlength="5" size="5" />
				<input type="submit" value="Search">
			</form>
		</li>
		
		<li id="step2" class="step" style="display: none;">
			<h4>Click here for their number</h4>
			<div id="rep-list"></div>
			<div class="clear"></div>
		</li>
		
	</ol>
	
	<div id="loading">
		<img src="{% media_url %}/images/ajax-loader.gif">
	</div>
	
{% endblock %}

{% block scripts %}
	<script>
		$().ready(function() {
			var loading = $('#loading')
			var repList = $('#rep-list');
	        $('#stateform').submit(function() {
	            var value = $('#zipcode').val();
				if (value != '') {
					var url = '/call/state_reps/' + value + '/';
					repList.hide();
					loading.show();
					repList.load(url, null, function() {
						loading.hide();
						repList.show();
						$('#step2').show();
						window.location.hash = value;
					});
	                }
				return false;
			});
			var zipcode = window.location.hash.substr(1);
			if (zipcode) {
				$('#zipcode').val(zipcode);
				$('#stateform').submit();
			}
			$('a.fb_link').click(function() {
				var u = "http://snlg.ht/ETAcall";
				var t = "I just helped make the government a little more transparent. Will you?";
				window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');
				return false;
			});
		});
		function fbs_click() {
		}
	</script>
{% endblock %}
