
/*BSD TWEAKS*/

#SKIN p, #SKIN li, #SKIN td, #SKIN th, #SKIN label, #SKIN div, #SKIN a {
font-size:12px;
}

#SKIN { width:920px;}

#constituent_content { width:700px; }

#SKIN #blue_hat { background:#ffffff; padding:0; margin:0 0 10px 0; border-bottom:1px solid #c6c6c6;}

#SKIN #blue_hat a:hover { background:none; color:#3465c0; }

/* #SKIN .container { width:100%;} */
#SKIN .widget_groups_container { }
#SKIN .basic { }

#redirect .box { background-color:#eeeeee; border:1px solid #c6c6c6;}
.box {border:1px solid #c6c6c6; }

#SKIN #blue_hat #hat_dashboard { background:#ffffff;}
#SKIN #blue_hat #hat_logout { background:#ffffff;}
#SKIN #blue_hat li { border:0px solid; background:#ffffff;}
#SKIN .yui-pg-container { background:#ffffff;}

#SKIN h1 {
color:#000000;
font-size:18px;
font-weight:bold;
}

#SKIN #control_set { background:none; }
#SKIN.module_circle .widget_groups_container #control_set { background:none;}
#SKIN .widget_tabs { background:none; }


#hat_socialnet {  }
#hat_profile { }
#hat_circle { }


#SKIN .widget_header { background:#ffffff;}
#SKIN .widget_title { color:#000000; }

/* events */
#SKIN .odd { background:#ffffff;}

/* widgets */
#SKIN #widget_group_1 { background:none; padding-right:20px;}
#SKIN #widget_group_1 .group_last { background:none; }
#SKIN #control_set { }
#SKIN .basic #control_set { background:none;}
#SKIN #widget_circle_find_a_group { }
#SKIN #widget_circle_start_a_group .group_last { background:none; }

#SKIN #widget_event2_widget { }

#SKIN .widget_actions {
float:left;;
line-height:24px;
vertical-align:middle;
}


#SKIN.module_circle .widget_groups_container #widget_group_2 { background:none;}
#SKIN.module_circle .widget_groups_container #widget_group_2 .group_last { background:none;}
#SKIN.module_circle .widget_groups_container #widget_group_1 { background:none;}
#SKIN.module_circle .widget_groups_container #widget_group_1 .group_last { background:none;}

#SKIN #circle_management_actions {background:none; border-bottom:1px solid #c6c6c6;
border-top:1px solid #c6c6c6; }

#SKIN #widget_profile_widget {}
#SKIN #widget_community_widget { }

#SKIN #widget_group_2 { background:none;}
#SKIN #widget_group_2 .group_last { background:none;}

#SKIN #widget_circle_listserv { padding-left:20px;}

#SKIN #widget_group_2 .widget_container  { padding-left:10px;}


#SKIN .widget_group { overflow:hidden;}
#SKIN .widget_tabs li.active_tab { background:none;}
#SKIN .widget_tabs li.inactive_tab {background:none;}

#SKIN #widget_socialnet_widget {  }

#SKIN .main { border:0px solid; width:100%; margin:0;}


/* LOG IN PAGE styles */
#loginform { margin-bottom:30px;}

#loginform table { background:#ffffff; border:1px solid #c6c6c6;}
.logintitle { color:#000;}


#loginform .logintitle { color:#000; }

#signupform table { background:#ffffff; border:1px solid #c6c6c6;}
#signupform .signuptitle { color:#000;}

/* event actions */
#SKIN .basic .main h2, #SKIN .basic .main h2.header, #SKIN .basic .main h2#sectionheader { color:#000; border-bottom:1px solid #000;}



/*tables */
#SKIN #detailtable {border:none; background:#ffffff;}


thead th {
background:none repeat scroll 0 0 #eeeeee;
}
