/* PUBLIC EQUALS ONLINE STYLES */
/* 950 */

/* USEFUL STUFF */
#clearfix { clear:both;}


/* front page */
#stripe { background-color:#76a050; margin:0 0 30px 0; padding:0; height:3px;}
#logo_topleft { height:100px; width:475px; margin-bottom:50px; }

#bsd_header_image { height:100px; margin-bottom:50px;}

h1.technique-three { width:475px; height:100px; background: url("http://assets.publicequalsonline.com/media/images/peo_logo_header.png"); text-indent: -9999px; }

#joinbox { width:340px; margin-top:20px; margin-right:0; margin-left:auto;  text-align:right;}


a.join_us:link { color:#669933; text-decoration:none;}
a.join_us:visited { color:#669933; text-decoration:none;}
a.join_us:hover { color:#669933; text-decoration:underline;}
a.join_us:active { color:#669933; text-decoration:none;}

a.get_in_here:link { color:#3465c0; text-decoration:none;}
a.get_in_here:visited { color:#3465c0; text-decoration:none;}
a.get_in_here:hover { color:#3465c0; text-decoration:underline;}
a.get_in_here:active { color:#3465c0; text-decoration:none;}

.join_strong { font-size:24px; padding-right:18px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; color:#b3b3b3;}
.join_us { font-size:24px; color:#669933; font-family:Georgia, Cambria, "Times New Roman", Times, serif;}
.already_member { font-size:16px; padding-right:10px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; color:#b3b3b3;}
.get_in_here { font-size:16px; color:#669933; font-family:Georgia, Cambria, "Times New Roman", Times, serif;}


#topnav { margin:0 0 0 0; padding:0; }
#topnav li { display: inline; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif;
 font-size:14px; margin:0; padding:0 30px 0 0;}

#topnav a:link { text-decoration:none; color:#575757; }
#topnav a:visited { text-decoration:none; color:#575757;}
#topnav a:hover {text-decoration:none; color:#3465c0; }
#topnav a:active {text-decoration:none; color:#575757;}


/* FRONT MAIN CONTENT AREA

this might be deprecated...
*/
#main_graphic_box { background-color:#e6e6e6; float:left; height:300px; width:629px; margin:0; padding:0;}

#main_nav_box {margin-left:630px; width:320px; }
#main_nav { margin:0; padding:0;}
#main_nav ul { margin:0; padding:0;}
#main_nav li { height:74px; border-top:1px solid #ffffff; list-style:none; }

#main_nav li a { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat;}
#main_nav li a.option_1 {background-position:0px 0px; display:block;}
#main_nav li a:hover.option_1 {background-position:0px -300px;}

#main_nav li a.option_2 {background-position:0px -75px; display:block;}
#main_nav li a:hover.option_2 {background-position:0px -375px;}

#main_nav li a.option_3 {background-position:0px -150px; display:block;}
#main_nav li a:hover.option_3 {background-position:0px -450px;}

#main_nav li a.option_4 {background-position:0px -225px; display:block;}
#main_nav li a:hover.option_4 {background-position:0px -525px;}



/*social icons */

#social_bar {
    float:right;
 width: 120px;
 height: 16px;
 margin:4px 0; padding:0;
 position: relative;

}
#social_bar li {margin: 0; padding: 0; list-style: none; position: absolute; top: 0;}

#social_bar li, #social_bar a { height:16px; display: block;}

#panel1b {left:0; width:16px; background:url(http://assets.publicequalsonline.com/media/images/peo_social_icons.png) 0 0; background-repeat:no-repeat;}
#panel2b {left:25px; width:16px; background:url(http://assets.publicequalsonline.com/media/images/peo_social_icons.png) -20px 0; background-repeat:no-repeat;}
#panel3b {left:50px; width:16px; background:url(http://assets.publicequalsonline.com/media/images/peo_social_icons.png) -40px 0; background-repeat:no-repeat;}
#panel4b {left:75px; width:16px; background:url(http://assets.publicequalsonline.com/media/images/peo_social_icons.png) -60px 0; background-repeat:no-repeat;}
#panel5b {left:100px; width:16px; background:url(http://assets.publicequalsonline.com/media/images/peo_social_icons.png) -80px 0; background-repeat:no-repeat;}


/* HORIZONTAL BARS */
#hor_dot { background-image:url(http://assets.publicequalsonline.com/media/images/dotted.png); background-repeat:repeat-x; margin:10px 0 20px 0; }
#hor_dot_top { background-image:url(http://assets.publicequalsonline.com/media/images/dotted.png); background-repeat:repeat-x; margin:5px 0 20px 0; position:top; }
.collapsed {height:15px;}

#hor_dot_bottom_front { margin-top:10px; height:10px; background-image:url(http://assets.publicequalsonline.com/media/images/dotted.png); background-repeat:repeat-x; position:top;}
#hor_dot_bottom { margin-top:0px; height:10px; background-image:url(http://assets.publicequalsonline.com/media/images/dotted.png); background-repeat:repeat-x; position:top;}





/* FRONT BLOG AREA */
#front_blogs {padding:0 20px 0 10px; background:url(http://assets.publicequalsonline.com/media/images/dotted_vert.png); background-repeat:repeat-y; background-position:right;}
#front_blogs h3 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px;}

#front_blog_posts { margin:0; padding:0;}

#front_blog_posts li {list-style:none; margin:0 0 30px 0; }


#front_blog_posts h4 { margin:0; padding:0; font-weight:bold;}
#front_blog_posts p { color:#4d4d4d;}

#front_blog_posts a:link { color:#000000; text-decoration:none;}
#front_blog_posts a:visited { color:#656565; text-decoration:none;}
#front_blog_posts a:hover { color:#3465c0; text-decoration:none;}
#front_blog_posts a:active { color:#000000; text-decoration:none;}


.front_blog_source { text-transform:uppercase;}

/* FRONT MISSION */

.mission_line { background:url(http://assets.publicequalsonline.com/media/images/dotted_vert.png); background-repeat:repeat-y; background-position:right; }

#mission_front { padding:0 30px 0 0; }
#mission_front h3 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px;}
.front_mission { font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; font-size:18px; color:#656565;}

/* UPCOMING FRONT */

#upcoming_front { padding:0 0 0 20px;}
#upcoming_front h3 { font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; }
#upcoming_front h4 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px; }
#upcoming_front h3.header { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px; }


#front_upcoming { margin:0; padding:0;}
#front_upcoming li { list-style:none; margin:0;}
#front_upcoming li a { display:block; padding:10px 10px 0 10px; margin:0;}

#front_upcoming li a:visited { display:block; }
#front_upcoming li a:hover { display:block; background-color:#c9d686;}
#front_upcoming li a:active { display:block;}
#front_upcoming li p { margin:0; padding:0 0 10px 0;}

#front_upcoming h4 { margin:0; padding:0; font-weight:bold;}

#front_upcoming li a:link { text-decoration:none; color:#000000;}
#front_upcoming li a:visited { text-decoration:none; color:#000000;}
#front_upcoming li a:hover { text-decoration:none; color:#000000;}
#front_upcoming li a:active { text-decoration:none; color:#000000;}

.upcoming_item_1 { background-color:#f4f4f4; }
.upcoming_item_2 { background-color:#ffffff; }

/* ALL CONTENT PAGES */
.chunk { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif;  text-transform:uppercase; }
.goudy { font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; }

#contentpage h4 { font-size: 18px; line-height:25px;}

#contentpage { margin-top:20px; margin-left:20px;}

#contentpage p { font-size:15px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; line-height:22px;}

#flat_contentpage { width:650px; margin-bottom:50px;}
#flat_contentpage h3 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#74341c; font-size:22px; text-transform:uppercase; margin:0 0 10px 0;}


.page_header { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#74341c; font-size:22px; text-transform:uppercase; margin:0 0 10px 0;}

#sidebox { margin-top:20px;}

#centeredpage { margin-top:50px; margin-right:auto; margin-left:auto; width:600px;}

h3.red {font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:24px; text-transform:uppercase; margin:0; padding:0; }


.right { text-align:right;}

#no_bull li { list-style-type:none;}

.centered { text-align:center;}

h4.subhead { margin:0; font-weight:bold;}
h4.subhead_lite { margin:0; font-weight:thin;}

/* pledge page */

#pledge_page_pledge h3 {font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; line-height:36px; font-size:24px; font-weight:bold;}


/* form */
label.field { display:block;}

/* DONATE */
#front_donate_header { margin-top:20px; }
#front_donate_box { width:300px; background-color:#ffffff; padding:10px; border:1px solid #c6c6c6;}
#front_donate_disclaimer { width:300px; margin-top:40px;}

/* about page */
#about_content_box { width:600px;}

.side_nk1 { background:url(http://assets.publicequalsonline.com/media/images/sidebar_nk.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_nk2 { background:url(http://assets.publicequalsonline.com/media/images/sidebar_nk2.jpg); background-position: bottom right; background-repeat:no-repeat;}
.side_nk3 { background:url(http://assets.publicequalsonline.com/media/images/sidebar_nk3.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_nk4 { background:url(http://assets.publicequalsonline.com/media/images/sidebar_nk4.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_jc { background:url(http://assets.publicequalsonline.com/media/images/sidebar_jc.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_gs { background:url(http://assets.publicequalsonline.com/media/images/sidebar_gs.jpg); background-position:bottom right; background-repeat:no-repeat;}



#about_subnav { margin:0; padding:0; }
#about_subnav li { margin:0; padding:0 20px 0 0; list-style-type:none; float:left; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; font-size:14px; color:#5a5a5a;}

#about_subnav a:link { text-decoration:none; color:#b0b0b0; }
#about_subnav a:visited { text-decoration:none; color:#c0c0c0;}
#about_subnav a:hover {text-decoration:none; color:#3465c0; }
#about_subnav a:active {text-decoration:none; color:#b0b0b0;}


#about_header { margin:0 0 20px 0; border-top:1px solid #c6c6c6; padding:10px 0 10px 0; border-bottom:1px solid #c6c6c6; }

/* GRANTS */
#groups_content_box { width:600px; }

#groups_content_box fieldset { width:70%;}

/* EVENTS */
#events_content_box { width:550px; margin-bottom:20px; }
#map_wrap { padding:15px; border:1px solid #c6c6c6; background-color:#f4f4f4;}
#map_container { border:1px solid #4d4d4d; margin:auto;}

/* ACT NOW */
#actnow_content_box { width:550px; margin-bottom:20px; }

#act_options li { margin:0 0 10px 0; padding:5px; list-style:square;}
.side_actnow {  background:url(http://assets.publicequalsonline.com/media/images/sidebar_peo_circle.png); background-position:550px 200px; background-repeat:no-repeat; }

/* DONATE*/
#donate_content_box { width:550px; margin-bottom:20px; }
#donate_box { width:250px; background-color:#ffffff; margin-right:auto; margin-left:auto;}
.side_donate { background:url(http://assets.publicequalsonline.com/media/images/donate_tag.jpg); background-position:right 100px; background-repeat:no-repeat; }


/* ERROR */
#error_content_box {float:left; width:500px;}
.side_error { background:url(http://assets.publicequalsonline.com/media/images/sidebar_nm.jpg); background-position:right 100px; background-repeat:no-repeat; }
#error_image { margin-left:550px;}

#error_list li { font-size:20px; list-style-type:none; padding:5px; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; line-height:36px; font-size:24px;}

#error_list a:link { text-decoration:none; color:#b0b0b0; }
#error_list a:visited { text-decoration:none; color:#c0c0c0;}
#error_list a:hover {text-decoration:none; color:#3465c0; }
#error_list a:active {text-decoration:none; color:#b0b0b0;}

/* FOOTER */
#footer_content_box {width:550px; margin-bottom:20px;  }
#footer_disclaimer { font-size:10px; color:#c6c6c6; margin-top:30px;}
#license { text-align:center; margin-top:30px;}

#footer_links { padding:0; margin:0;}
#footer_links li { list-style-type:none; padding:0; margin:0; }

#footer_links a:link { text-decoration:none; color:#b0b0b0; }
#footer_links a:visited { text-decoration:none; color:#c0c0c0;}
#footer_links a:hover {text-decoration:none; color:#3465c0; }
#footer_links a:active {text-decoration:none; color:#b0b0b0;}

.footer_header { margin:5px 0 0 0 ; padding:0; font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#868686; font-size:14px;}



#sflogo_sprite{ width: 105px;}	
#sflogo_sprite a {float: left; width: 105px; height: 50px; display: block; }
a#sfsprite { background: url('http://assets.publicequalsonline.com/media/images/sf_logo_sprite.png') 0px 0px no-repeat; }
a#sfsprite:hover { background: url('http://assets.publicequalsonline.com/media/images/sf_logo_sprite.png') 0px -50px no-repeat; }

#footer_box { margin-bottom:100px;}

/* BSD CONTAINER */
#bsd_container { background-color:#eff5e6;}


/* main nav sprites */
#main_nav_sprite{ width: 105px;}	
#main_nav_sprite a {float: left; width: 105px; height: 50px; display: block; }

a#option1 { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat; }
a#option1:hover { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat; background-position:0px -300px;}

a#option2 { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat; background-position:0 -75px;}
a#option2:hover { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat; background-position:0px -375px;}

a#option3 { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat;
background-position:0 -150px;}
a#option3:hover { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat; background-position:0px -450px;}

a#option4 { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat;
background-position:0 -225px;}
a#option4:hover { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com/media/images/peo_right_nav_sprite.png'); background-repeat:no-repeat; background-position:0px -525px;}

#nav-feature-1 { display:none;}

/* SCROLL */
#featured { width:850px; position:relative; margin:0; padding:0;}
#featured ul.ui-tabs-nav { position:absolute; top:0; left:630px; list-style:none; padding:0; margin:0; width:320px; }
#featured ul.ui-tabs-nav li { margin:0; padding:0; }
#featured ul.ui-tabs-nav li span { }
#featured .ui-tabs-panel { width:629px; height:299px; position:relative; overflow:hidden; }
#featured .ui-tabs-hide { display:none; }

#featured li.ui-tabs-nav-item a { display:block;	height:74px; border-bottom:1px solid #ffffff; outline:none; } 
#featured li.ui-tabs-nav-item a:hover { } /*On Hover Style*/
#featured li.ui-tabs-selected { 	} /*Selected tab style*/
#featured ul.ui-tabs-nav li.ui-tabs-selected a { }


/* FRONT CAROUSEL DIVS */
.feature_header {font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#59783c; font-size:24px; text-transform:uppercase; margin:0; padding:0; }

#front_event_header { margin-top:30px; margin-left:20px;}

#front_carousel_groups { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com/media/images/feature_bg_group.jpg); width:629px; height:299px;}
#front_carousel_events { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com/media/images/feature_bg_events.jpg); width:629px; height:299px;}
#front_carousel_donate { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com/media/images/feature_bg_donate.jpg); width:629px; height:299px;}

#front_carousel_pledge { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com/media/images/feature_bg_pledge.jpg); width:629px; height:299px;}

#front_pledge { margin:10px 0 20px 0; width:380px; font-size:18px; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif;  font-weight:bold; line-height:27px;}

#front_pledge_buttons { margin-top:20px; width:450px; margin-right:auto; margin-left:auto; border:1px solid;}

#front_pledge_buttons_sign { float:left; margin-left:20px;}
#front_pledge_buttons_share { margin-left:250px; }

#front_carousel_video { padding:0; background-color:#000000; width:629px; height:299px;}
#video_container { margin-right:auto; margin-left:auto; width:480px;}

#front_find_event { border:1px solid #9fad57; padding:15px; width:300px; background-color:#cdd69b; margin-left:20px; }


/* WRAPPER STUFF */
#hor_dot_bottom_wrapper { margin-top:10px; height:10px; background-image:url(http://assets.publicequalsonline.com/media/images/dotted.png); background-repeat:repeat-x; position:top;}
#wrapper_sidebar { }
#contentpage_wrapper { margin:20px 0 20px 10px;}