/* PUBLIC EQUALS ONLINE STYLES */
/* 950 */

body { border-top: 3px solid #76a050; padding-top: 15px; }

/* USEFUL STUFF */

a:link {color:#575757;}
a:visited {color:#5875b6;}
a:hover {color:#3465c0; }
a:active {color:#575757;}


#clearfix { clear:both;}
a.grey:link { color:#575757;}
a.grey:visited { color:#575757;}
a.grey:hover { color:#3465c0;}
a.grey:active { color:#575757;}


.alertbox { display:block; border:1px solid #b2b2b2; padding:5px; margin-bottom:20px; text-align:center;}

a.alertbox:link { text-decoration:none; color:#4d4d4d; background-color:#d9d9d9;}
a.alertbox:visited { text-decoration:none; color:#4d4d4d; background-color:#d9d9d9;}
a.alertbox:hover { text-decoration:none; color:#74341c; background-color:#c69683; border:1px solid #b17158;}
a.alertbox:active { text-decoration:none; color:#4d4d4d; background-color:#d9d9d9;}

.edit { float:right;}
.edit_this { font-size:10px; font-family:"arial","helvetica",sans-serif;}

.sans {font-family:"arial","helvetica",sans-serif; }
.serif {font-family:Georgia, Cambria, "Times New Roman", Times, serif; }

/* PROFILE PAGES */

#profile_meta { margin:10px 0 10px 20px; padding:0;}
#profile_meta li { padding:0; list-style:none;}

#profile_meta_about { margin:0; padding:0;}
#profile_meta_about li { padding:0; list-style:none;}


#profile_box { margin-left:90px; }

h4.profile  { margin:0; padding:0;}

#gravatar { padding:3px; border:1px solid #c6c6c6; float:left;}
#gravatar_edit { padding:3px; border:1px solid #c6c6c6; float:left; margin-right:10px;}

#profile_about { margin-top:20px;}
#profile_about h4 {margin:0; padding:0;}

#profile_projects { margin:0; padding:0;}
#profile_projects li { list-style:none; padding-bottom:5px; margin-bottom:10px;}

#profile_edit_box { margin:30px 0 30px 0; text-align:right;}


/* tables? */

tr .titles { background-color:#f0f0f0;}



/* front page */
#logo_topleft { height:100px; width:475px; margin-bottom:50px; }

#bsd_header_image { height:100px; margin-bottom:50px;}

h1.technique-three { width:475px; height:100px; background: url("http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_logo_header.png"); text-indent: -9999px; }

#joinbox { width:340px; margin-top:20px; margin-right:0; margin-left:auto;  text-align:right;}


a.join_us:link { color:#669933; text-decoration:none;}
a.join_us:visited { color:#669933; text-decoration:none;}
a.join_us:hover { color:#669933; text-decoration:underline;}
a.join_us:active { color:#669933; text-decoration:none;}

a.get_in_here:link { color:#3465c0; text-decoration:none;}
a.get_in_here:visited { color:#3465c0; text-decoration:none;}
a.get_in_here:hover { color:#3465c0; text-decoration:underline;}
a.get_in_here:active { color:#3465c0; text-decoration:none;}

a.logout:link { color:#669933; text-decoration:none;}
a.logout:visited { color:#669933; text-decoration:none;}
a.logout:hover { color:#669933; text-decoration:underline;}
a.logout:active { color:#669933; text-decoration:none;}

a.logged_in:link { color:#669933; text-decoration:none;}
a.logged_in:visited { color:#669933; text-decoration:none;}
a.logged_in:hover { color:#669933; text-decoration:underline;}
a.logged_in:active { color:#669933; text-decoration:none;}

.join_strong { font-size:24px; padding-right:18px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; color:#b3b3b3;}
.join_us { font-size:24px; color:#669933; font-family:Georgia, Cambria, "Times New Roman", Times, serif;}

.logged_in {font-size:12px; padding-right:10px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; color:#b3b3b3;}


.already_member { font-size:16px; padding-right:10px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; color:#b3b3b3;}
.get_in_here { font-size:16px; color:#669933; font-family:Georgia, Cambria, "Times New Roman", Times, serif;}


#topnav { margin:0 0 0 0; padding:0; }
#topnav li { display: inline; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif;
 font-size:14px; margin:0; padding:0 30px 0 0;}

#topnav a:link { text-decoration:none; color:#575757; }
#topnav a:visited { text-decoration:none; color:#575757;}
#topnav a:hover {text-decoration:none; color:#3465c0; }
#topnav a:active {text-decoration:none; color:#575757;}


#fb_butt { float:left;}
#tw_butt { margin-left:200px;}

#social_reg_box {width:360px;}


/*social icons */

#social_bar {
    float:right;
 width: 120px;
 height: 16px;
 margin:4px 0; padding:0;
 position: relative;

}
#social_bar li {margin: 0; padding: 0; list-style: none; position: absolute; top: 0;}

#social_bar li, #social_bar a { height:16px; display: block;}

#panel1b {left:0; width:16px; background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_social_icons.png) 0 0; background-repeat:no-repeat;}
#panel2b {left:25px; width:16px; background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_social_icons.png) -20px 0; background-repeat:no-repeat;}
#panel3b {left:50px; width:16px; background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_social_icons.png) -40px 0; background-repeat:no-repeat;}
#panel4b {left:75px; width:16px; background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_social_icons.png) -60px 0; background-repeat:no-repeat;}
#panel5b {left:100px; width:16px; background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_social_icons.png) -80px 0; background-repeat:no-repeat;}


/* HORIZONTAL BARS */
#hor_dot { background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted.png); background-repeat:repeat-x; margin:10px 0 20px 0; }
#hor_dot_top { background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted.png); background-repeat:repeat-x; margin:5px 0 20px 0; position:top; }
.collapsed {height:15px;}

#hor_dot_bottom_front { margin-top:10px; height:10px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted.png); background-repeat:repeat-x; position:top;}
#hor_dot_bottom { margin-top:0px; height:10px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted.png); background-repeat:repeat-x; position:top;}





/* FRONT BLOG AREA */
#front_blogs {padding:0 20px 0 10px; background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted_vert.png); background-repeat:repeat-y; background-position:right;}
#front_blogs h3 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px;}

#front_blog_posts { margin:0; padding:0;}

#front_blog_posts li {list-style:none; margin:0 0 30px 0; }


#front_blog_posts h4 { margin:0; padding:0; font-weight:bold;}
#front_blog_posts p { color:#4d4d4d;}

#front_blog_posts a:link { color:#000000; text-decoration:none;}
#front_blog_posts a:visited { color:#656565; text-decoration:none;}
#front_blog_posts a:hover { color:#3465c0; text-decoration:none;}
#front_blog_posts a:active { color:#000000; text-decoration:none;}


.front_blog_source { text-transform:uppercase;}

/* FRONT MISSION */

.mission_line { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted_vert.png); background-repeat:repeat-y; background-position:right; }

#mission_front { padding:0 30px 0 0; }
#mission_front h3 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px;}
.front_mission { font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; font-size:18px; color:#656565;}

/* UPCOMING FRONT */

#upcoming_front { padding:0 0 0 20px;}
#upcoming_front h3 { font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; }
#upcoming_front h4 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px; }
#upcoming_front h3.header { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:20px; }


#front_upcoming { margin:0; padding:0;}
#front_upcoming li { list-style:none; margin:0;}
#front_upcoming li a { display:block; padding:10px 10px 0 10px; margin:0;}

#front_upcoming li a:visited { display:block; }
#front_upcoming li a:hover { display:block; background-color:#c9d686;}
#front_upcoming li a:active { display:block;}
#front_upcoming li p { margin:0; padding:0 0 10px 0;}

#front_upcoming h4 { margin:0; padding:0; font-weight:bold;}

#front_upcoming li a:link { text-decoration:none; color:#000000;}
#front_upcoming li a:visited { text-decoration:none; color:#000000;}
#front_upcoming li a:hover { text-decoration:none; color:#000000;}
#front_upcoming li a:active { text-decoration:none; color:#000000;}

.upcoming_item_1 { background-color:#f4f4f4; }
.upcoming_item_2 { background-color:#ffffff; }

/* ALL CONTENT PAGES */
.chunk { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif;  text-transform:uppercase; }
.goudy { font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; }

#contentpage h4 { font-size: 18px; line-height:25px;}

#contentpage { margin-top:20px; margin-left:20px;}

#contentpage p { font-size:15px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; line-height:22px;}

#flat_contentpage { margin-bottom:50px;}
#flat_contentpage h3 { font-family: "arial","helvetica",sans-serif; color:#000; font-size:16px; margin:0 0 10px 0;}
#flat_contentpage h2 { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#74341c; font-size:22px; text-transform:uppercase; margin:0 0 10px 0;}

#sidebar_space { margin-top:60px; margin-left:20px;}
#sidebar_space p { font-size:15px; font-family:Georgia, Cambria, "Times New Roman", Times, serif; line-height:22px;}





.page_header { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#74341c; font-size:22px; text-transform:uppercase; margin:0 0 10px 0;}

#sidebox { margin-top:20px;}

#centeredpage { margin-top:50px; margin-right:auto; margin-left:auto; width:600px;}

.centered { text-align:center; display:block;}


h3.red {font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#73341c; font-size:24px; text-transform:uppercase; margin:0; padding:0; }
.subred { color:#74341c;}

.right { text-align:right;}

#no_bull li { list-style-type:none;}

.centered { text-align:center;}

h4.subhead { margin:0; font-weight:bold;}
h4.subhead_lite { margin:0; font-weight:thin;}

/* pledge page */

#pledge_page_pledge h3 {font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; line-height:36px; font-size:24px; font-weight:bold;}

#pledge_list { list-style:square; margin:0 0 0 20px; padding:0;}
#pledge_list li { margin-bottom:10px; padding-bottom:5px; }
#pledge_right { margin-left:580px; width:300px;}

#pledge_right .required { color:#73341c; font-size:10px;}

#pledge_page_desc { width:550px; float:left; }

#pledge_right fieldset legend { color:#3f6819;}

#pledge_submit_box { }
#pledge_button_box { margin-right:auto; margin-left:auto; width:190px; margin-top:20px;}

.pledge_disclaimer { display:block; font-size:10px; padding-top:15px;}



button.pledge_page_button  {
background:url("http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/pledge_sign.png") no-repeat scroll right bottom transparent;
height:42px;
width:189px;

}

button {
cursor:pointer;
text-indent:-9999em;
border:medium none;
}


/* form */
label.field { display:block;}

/* DONATE */
#front_donate_header { margin-top:20px; }
#front_donate_box { width:300px; background-color:#ffffff; padding:10px; border:1px solid #c6c6c6;}
#front_donate_disclaimer { width:300px; margin-top:40px;}

/* about page */
#about_content_box { width:600px;}

.side_nk1 { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_nk.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_nk2 { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_nk2.jpg); background-position: bottom right; background-repeat:no-repeat;}
.side_nk3 { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_nk3.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_nk4 { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_nk4.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_jc { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_jc.jpg); background-position:bottom right; background-repeat:no-repeat;}
.side_gs { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_gs.jpg); background-position:bottom right; background-repeat:no-repeat;}



#about_subnav { margin:0; padding:0; }
#about_subnav li { margin:0; padding:0 20px 0 0; list-style-type:none; float:left; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; font-size:14px; color:#5a5a5a;}

#about_subnav a:link { text-decoration:none; color:#b0b0b0; }
#about_subnav a:visited { text-decoration:none; color:#c0c0c0;}
#about_subnav a:hover {text-decoration:none; color:#3465c0; }
#about_subnav a:active {text-decoration:none; color:#b0b0b0;}


#about_header { margin:0 0 20px 0; border-top:1px solid #c6c6c6; padding:10px 0 10px 0; border-bottom:1px solid #c6c6c6; }

/* MISC */
#resources_logo_box { margin-bottom:50px; }



/* GRANTS */
#groups_content_box { width:600px; }

#groups_content_box fieldset { width:70%;}

/* EVENTS */
#events_content_box { width:550px; margin-bottom:20px; }
#map_wrap { padding:15px; border:1px solid #c6c6c6; background-color:#f4f4f4;}
#map_container { border:1px solid #4d4d4d; margin:auto;}

#upcoming_events { background-color:#ffffff; margin-bottom:30px;}

#events { margin:0; padding:0; }
#events li { list-style:none; padding:0; margin:0;}

#generic_form { margin:0; padding:0;}
#generic_form li { list-style:none; }
#generic_form label {display:block;}

#id_message { width:400px; height:50px;}

#event_interested { border:1px solid #c6c6c6; background-color:#f0f0f0; padding:20px; margin-right:100px; }

#event_attending { margin:0; padding:0;}
#event_attending li { list-style:none; padding:10px; border-bottom:1px solid #c6c6c6;}

#event_detail { margin:0 0 20px 20px; padding:0;}
#event_detail li { list-style:none; padding-bottom:10px; float:left; padding-right:40px;}

.subtitle p { font-size:10px;}

#plan_event_button { margin:30px 0 50px 0; width:190px; margin-left:auto; margin-right:auto;}



#upcoming_event_list_box { }

#upcoming_event_list_box a:link {text-decoration:none;  }
#upcoming_event_list_box a:visited {text-decoration:none;  }
#upcoming_event_list_box a:hover {text-decoration:none;  }
#upcoming_event_list_box a:active {text-decoration:none;  }


.upcoming_event_title { font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#333333; font-size:14px; display:block; text-transform:uppercase; }

.upcoming_event_date { font-family:"arial","helvetica",sans-serif; font-size:12px; color:#c6c6c6; display:block;}
.upcoming_event_location { font-family:"arial","helvetica",sans-serif;  font-size:12px; color:#c6c6c6; }

#event_listing {
font-family:Helvetica Neue,Helvetica,Corbel,Tahoma,Arial,Trebuchet MS,sans-serif;
font-size:108%;
padding:10px;
border-bottom:1px solid #d9d9d9;
}

#event_listing:hover { background-color:#f0f0f0;}




/* ACT NOW */
#actnow_content_box { width:550px; margin-bottom:20px; }

#act_options li { margin:0 0 10px 0; padding:5px; list-style:square;}
.side_actnow {  background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_peo_circle.png); background-position:550px 200px; background-repeat:no-repeat; }

#actnow_pledge { margin-bottom:30px; margin-left:30px;}

/* DONATE*/
#donate_content_box { width:550px; margin-bottom:20px; }
#donate_box { width:250px; background-color:#ffffff; margin-right:auto; margin-left:auto;}
.side_donate { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/donate_tag.jpg); background-position:right 100px; background-repeat:no-repeat; }


/* ERROR */
#error_content_box {float:left; width:500px;}
.side_error { background:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sidebar_nm.jpg); background-position:right 100px; background-repeat:no-repeat; }
#error_image { margin-left:550px;}

#error_list { background-color:#c69683;}
#error_list li {list-style-type:none; padding:5px; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif; line-height:36px; font-size:24px;}

#error_list a:link { text-decoration:none; color:#b0b0b0; }
#error_list a:visited { text-decoration:none; color:#c0c0c0;}
#error_list a:hover {text-decoration:none; color:#3465c0; }
#error_list a:active {text-decoration:none; color:#b0b0b0;}


/* The default django error field is errorlist */
.errorlist {  background-color:#c69683; padding:5px 5px 0 5px; width:250px; text-align:right;}
.errorlist li {color: #74341c; font-weight:bold;}

/* FOOTER */
#footer_content_box {width:550px; margin-bottom:20px;  }
#footer_disclaimer { font-size:10px; color:#c6c6c6; margin-top:30px;}
#license { text-align:center; margin-top:30px;}
#license a:link { text-decoration:none; color:#b0b0b0; }
#license a:visited { text-decoration:none; color:#c0c0c0;}
#license a:hover {text-decoration:none; color:#3465c0; }
#license a:active {text-decoration:none; color:#b0b0b0;}


#footer_links { padding:0; margin:0;}
#footer_links li { list-style-type:none; padding:0; margin:0; }

#footer_links a:link { text-decoration:none; color:#b0b0b0; }
#footer_links a:visited { text-decoration:none; color:#c0c0c0;}
#footer_links a:hover {text-decoration:none; color:#3465c0; }
#footer_links a:active {text-decoration:none; color:#b0b0b0;}

.footer_header { margin:5px 0 0 0 ; padding:0; font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#868686; font-size:14px;}



#sflogo_sprite{ width: 105px;}	
#sflogo_sprite a {float: left; width: 105px; height: 50px; display: block; }
a#sfsprite { background: url('http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sf_logo_sprite.png') 0px 0px no-repeat; }
a#sfsprite:hover { background: url('http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/sf_logo_sprite.png') 0px -50px no-repeat; }

#footer_box { margin-bottom:100px;}

/* BSD CONTAINER */
#bsd_container { background-color:#eff5e6;}




#featured { width:950px; margin:0; padding:0; height:299px;}
#feature_box { width:630px; float:left; height:299px;}

/* NEW NON-CAROUSEL FEATURE NAV */

#main_nav { margin:0; padding:0; width:320px; margin-left:630px;}

#main_nav li { margin:0; padding:0; height:74px; width:320px; list-style:none;  border-bottom:1px solid #ffffff;}

#main_nav li a { height:74px; width:320px; background-image:url('http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/peo_right_nav_sprite3.png'); background-repeat:no-repeat;  border-bottom:1px solid #ffffff;}

#main_nav li a.option_1 {background-position:0px 0px; display:block;}
#main_nav li a:hover.option_1 {background-position:0px -300px;}


#main_nav li a.option_2 {background-position:0px -75px; display:block;  }
#main_nav li a:hover.option_2 {background-position:0px -375px;  }

#main_nav li a.option_3 {background-position:0px -150px; display:block; }
#main_nav li a:hover.option_3 {background-position:0px -450px;}

#main_nav li a.option_4 {background-position:0px -225px; display:block;  }
#main_nav li a:hover.option_4 {background-position:0px -525px;  }



/* FRONT CAROUSEL DIVS */
.feature_header {font-family: "chunk-1","chunk-2","arial","helvetica",sans-serif; color:#59783c; font-size:24px; text-transform:uppercase; margin:0; padding:0; }

#front_event_header { margin-top:30px; margin-left:20px;}

#front_carousel_pledge { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge.jpg); width:629px; height:299px; background-repeat:no-repeat;}

#front_carousel_pledge_1 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_2 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge2.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_3 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge3.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_4 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge4.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_5 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge5.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_6 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge6.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_7 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge7.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_8 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge8.jpg); width:629px; height:299px; background-repeat:no-repeat;}
#front_carousel_pledge_9 { padding:20px 20px 10px 20px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/feature_bg_pledge9.jpg); width:629px; height:299px; background-repeat:no-repeat;}






#front_pledge { margin:10px 0 20px 0; width:380px; font-size:18px; font-family: "sorts-mill-goudy-1","sorts-mill-goudy-2",Georgia, Cambria, "Times New Roman", Times, serif;  font-weight:bold; line-height:27px;}

#front_pledge_buttons { margin-top:20px; width:450px; margin-right:auto; margin-left:auto; border:1px solid;}

#front_pledge_buttons_sign { float:left; margin-left:20px;}
#front_pledge_buttons_share { margin-left:250px; }

#front_carousel_video { padding:0; background-color:#000000; width:629px; height:299px;}
#video_container { margin-right:auto; margin-left:auto; width:480px;}

#front_find_event { border:1px solid #9fad57; padding:15px; width:300px; background-color:#cdd69b; margin-left:20px; }

/* NEWS PAGE */
#news_content_box { width:550px; margin-bottom:20px; }
#news_posts { margin:0; padding:0;}
#news_posts li {list-style:none; margin:0 0 30px 20px; }

#news_posts h4 { margin:0; padding:0; font-weight:bold; font-size:14px;}
#news_posts p { color:#4d4d4d; font-size:13px;}

#news_posts a:link { color:#000000; text-decoration:none;}
#news_posts a:visited { color:#656565; text-decoration:none;}
#news_posts a:hover { color:#3465c0; text-decoration:none;}
#news_posts a:active { color:#000000; text-decoration:none;}


/* WRAPPER STUFF */
#hor_dot_bottom_wrapper { margin-top:10px; height:10px; background-image:url(http://assets.publicequalsonline.com.s3.amazonaws.com/media/images/dotted.png); background-repeat:repeat-x; position:top;}
#wrapper_sidebar { }
#contentpage_wrapper { margin:20px 0 20px 10px;}

/* PROJECT PAGES */

#project_list_box { margin:20px 0 50px 20px;}
#project_summary_box_old { background-color:#b0cf95; width:260px; height:150px; float:left; margin:0 20px 10px 0; padding:10px;}

#project_summary_box { margin:0 0 0 20px; padding:0;}
#project_summary_box li { background-color:#f1f5ed;  width:280px; height:160px; float:left; margin:0 20px 20px 0; display:block; list-style:none;}

#project_summary_box li:hover { background-color:#bbd0a8;}

#project_summary_summary { overflow:hidden; padding:0; margin:10px; height:120px;}
#project_summary_summary p { margin:0; padding:0;}

#project_summary_box h4 { font-size:16px; font-weight:bold; margin:0; padding:5px 5px 5px 0; color:#3f6819;}

#project_summary_box a:link { text-decoration:none; color:#000;}
#project_summary_box a:visited { text-decoration:none; color:#000;}
#project_summary_box a:hover { text-decoration:none; color:#000;}
#project_summary_box a:active { text-decoration:none; color:#000;}

#join_project { border-top:1px solid #c6c6c6; margin-top:10px; padding-top:10px;}

.project_summary_date { color:#648844; font-size:10px; text-align:right; display:block; padding-right:10px;}

#team { }
#team li { list-style:square;}


#project_links_box { margin:30px 0 30px 0;}
#project_team_box { margin:30px 0 30px 0;}


#project_meta_info { margin-bottom:20px;}
#project_meta_info p { font-size:12px; margin:0; padding:0;}


#project_tags { margin:0; padding:0;}

#project_tags li { list-style:none; float:left; margin:0; padding:0;}
#project_links li { }


.project_info { display:block; height:100%;}

th.project_date { text-align:right;}


td.project_date { width:100px; text-align:right; vertical-align:top;  }
td.project_title { width:300px; vertical-align:top;  }
td.project_description {vertical-align:top;  }
table.projects_table { color:#000000;}
table.projects_table th { background-color:#dde7d3; }
table.projects_table tr a { text-decoration:none; color:#000000;}
table.projects_table tr.two { background-color:#f2f6ee; }
table.projects_table tr:hover {background-color:#bbd0a8; }




/* DEFAULT FORM STUFF */
#form_ul { margin:0; padding:0;}
#form_ul li { margin:0; padding:0;}


#registration_form input { font-size:16px; padding:3px;}
#registration_form label { width:150px; text-align:right; display:block; float:left; padding-right:10px; font-size:16px; padding-top:9px;}
#registration_form li { list-style:none; margin:0 0 0 50px; padding:0 0 10px 0; }
#registration_form .button { margin-top:20px; margin-right:auto; margin-left:auto; width:50%; font-size:14px;
    border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
    background: #fff;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    
    }

    #account_form input { font-size:16px; padding:3px;}
    #account_form label { width:150px; text-align:right; display:block; float:left; padding-right:10px; font-size:16px; padding-top:9px;}
    #account_form li { list-style:none; margin:0 0 0 50px; padding:0 0 10px 0; }
    #account_form .buttonAccount { margin-top:20px; margin-left:150px; width:400px; font-size:14px;
        border:1px solid #999;
    	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
        background: #fff;
    	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
    	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
    	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

        }

    #login_form input { font-size:16px; padding:3px;}
    #login_form label { width:150px; text-align:right; display:block; float:left; padding-right:10px; font-size:16px; padding-top:9px;}
    #login_form li { list-style:none; margin:0 0 0 0; padding:0 0 10px 0; }
    #login_form .button { margin-top:20px; margin-right:auto; margin-left:auto; width:90%; font-size:14px;
        border:1px solid #999;
    	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
        background: #fff;
    	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
    	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
    	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

        }

        #project_form input, select { font-size:16px; padding:3px;}
        #project_form label { width:250px; text-align:right; display:block; float:left; padding-right:10px; font-size:16px; padding-top:9px;}
        #project_form li { list-style:none; margin:0 0 0 0; padding:0 0 10px 0; }
        #project_form .buttonProject { display:block; margin-top:50px; margin-right:auto; margin-left:250px; width:400px; font-size:14px;
            border:1px solid #999;
        	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
            background: #fff;
        	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
        	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
        	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
        	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

            }


.buttonEventSearch { 
                width:200px;
                border:1px solid #999;
            	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;

            	padding:5px 20px 5px 20px;
            	background: #fff;
            	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
            	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
            	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
            	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
            	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
                font-size:14px; }



#event_form input { font-size:16px; padding:3px;}
#event_form label { width:150px; text-align:right; display:block; float:left; padding-right:10px; font-size:16px; padding-top:9px;}
#event_form li { list-style:none; margin:0 0 0 0; padding:0 0 10px 0; }
#event_form .buttonEvent { 
display:block; margin-top:30px; margin-right:auto; margin-left:150px; width:400px;
    border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;

	padding:5px 20px 5px 20px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    font-size:14px; }


#event_form #startTitle {  margin-bottom:30px; float:none;}
#event_form #endTitle {  margin-bottom:30px; float:none;}
.timeDetails { margin:20px 0 0 0;}

#event_form #timebox { margin-top:20px;}
#event_form #timebox label { width:50px; display:block; margin-left:50px;}


    #default_form { margin:0; padding:0;}
    #default_form input {  font-size:18px; padding:3px;}
    #default_form li { list-style:none; margin:0; padding:0 0 10px 0; }
    /* #default_form label { width:150px; text-align:right; display:block; float:left; padding-right:10px; font-size:16px; padding-top:9px;} */
    #default_form .button { margin-top:20px; margin-right:auto; margin-left:auto; width:80%; font-size:14px;}



#default_form .button { 	
	border:1px solid #999;
	-webkit-border-radius: 3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
	margin:0;
	padding:5px 20px 5px 20px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(6%, #eee), to(#fff));
	background: -moz-linear-gradient(top, #fff, #bbd0a8 2px, #fff 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}



#reg .button {

	width:auto;
	text-align:center;
	background: #b1d096;
	background: -webkit-gradient(linear, left top, left 25, from(#b1d096), color-stop(6%, #efefef), to(#b1d096));
	background: -moz-linear-gradient(top, #b1d096, #efefef 2px, #b1d096 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

}
#reg .button:hover, #reg .button:focus { background:#98b87c;}


#default_form .button:hover, #default_form .button:hover
{
border-color: #76a050;
background:#dde7d3;

}

#reg { margin:20px 20px 50px 30px;}

#reg .button_right {padding-left:150px;}


/* tables */
#linksTable th {background-color:#dde7d3;}
#feedstable th {background-color:#dde7d3;}
#projectMembers th {background-color:#dde7d3;}
#events_table th {background-color:#dde7d3;}
#users_table th {background-color:#dde7d3;}

td.users_table_name {vertical-align:top; }

table.users_table { color:#000000;}
table.users_table th { background-color:#dde7d3; }
table.users_table tr a { text-decoration:none; color:#000000;}
table.users_table tr.user_two { background-color:#f2f6ee; }
table.users_table tr:hover {background-color:#bbd0a8; }

.row_meta { display:block; height:100%;}

tr.even td { background-color:#f2f6ee; }


/*forms*/
#signin { margin-bottom:30px;}
#signin li { list-style:none; margin:0; padding-bottom:10px;}

#event_simple_search_form input {  font-size:18px; }

ul#attendeeList dd { line-height: 20px;}



/*HIDING STUFF FROM USERS */
#hidefeedform { display:none;}




/* TIME PICKER */




