{% extends "base.html" %}
{% load blog %}
{% load people %}

{% block bodyclass %}people{% endblock %}

{% block sidebar %}
<h3 class="space">Recent Members</h3>
<div id="recentMembers" class="module">
    <ul>
        {% get_latest_user_profiles as user_profiles %}
        {% for up in user_profiles %}
        <li>
            {% gravatar up.user.email %}
            <span id="leadName"><a href="{{up.user.get_absolute_url}}">
                    {% firstof up.user.first_name up.user.username %}</a>
            </span>
            <!--            <span id="metadata">Sunlight Labs</span>-->
        </li>
        {% endfor %}
    </ul>
</div>
<div class="clear"></div>
{% endblock %}
