{% extends "people/base.html" %}
{% load people %}

{% block title %}
{{block.super}} - Contact {% display_name to_user %}
{% endblock %}

{% block content %}
    <div id="headerTip"class="contentHeader">
        <h2 class="contact">Contact {% display_name to_user %}</h2>
    </div>
    <div class="module">
        <p class="tip">Please note that when contacting this user your email will be visible to them so that they may reply.</p>
        <form id="contactForm" action="." method="post">
            <ul>
                {{ form.as_ul }}
                <li class="submit">
                    <button class="submit-send" type="submit"><span>Send</span></button>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}
