{% extends "people/base.html" %}
{% load blog %}
{% load media %}
{% load tagging_tags %}

{% block title %} - Edit Profile
{% endblock %}



{% block body %}
<div class="column span-18">
	<div id="contentpage">
		<div id="flat_contentpage">
        	<h2 class="page_header">Edit Account Information</h2>

        	<p>Let the Public=Online community know more about you. (<a href="{{user.get_absolute_url}}">view your profile</a>)</p>

        	<form id="account_form" method="POST" action="." enctype="multipart/form-data">
            	<ul>
                	{% for field in form %}
                    <li>{{field.label_tag}} {{field}}</li>
                	{% endfor %}
					<li><input type="submit" value="Submit Your Account Changes" class="buttonAccount" /></li>
            	</ul>
        	</form>
    	</div>
	</div>
</div>

<div class="column span-6 last">
	<div id="sidebar_space">
		<div id="gravatar_edit">{% gravatar user.email %}</div>
		
		<p>To edit your avatar visit <a href="http://gravatar.com">gravatar.com</a></p>
	</div>	
</div>
{% endblock %}


