{% extends "people/base.html" %}
{% load blog %}
{% load media %}
{% load tagging_tags %}

{% block title %}
{{block.super}} - Edit Profile
{% endblock %}

{% block extrahead %} 
{% js "fancytags.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        var ftctl = fancytags('#id_skills');

        $('.common_tag a').click(function(event) {
            event.preventDefault();
            ftctl.add_tag(($(this).text()));
        });

        $('#show_common_tags').click(function(event) {
            event.preventDefault();
            $('div#commonTags_wrapper').toggle();
        });
        $('div#commonTags_wrapper').hide();
    });
</script>
{% endblock %}

{% block content %}
<div class="module">
    <div id="headerTip" class="contentHeader">
        <h2 id="accountHeader">Account Information</h2>
        <a id="accountProfile" href="{{user.get_absolute_url}}"> (view profile) </a>
    </div>
    <div class="module">
        <p class="tip">Let the labs community know more about you.</p>
        <form id="accountForm" method="POST" action="." enctype="multipart/form-data">
            <ul>
		<li><label>Current Avatar</label>{% gravatar user.email %}</li>
		<p class="tip">To edit your avatar visit <a href="http://gravatar.com">gravatar.com</a></p>
                {% for field in form %}

                    <li>{{field.label_tag}} {{field}} 

                    {% ifequal field.name "skills" %}
                        <div id="fancy_tags_widget">
                            <p><a id="show_common_tags" href="#">Show Common Skills List</a></p>
                            <div id="commonTags_wrapper">
                                <p class="tip">Click on the skills below to add them to your list.</p>
                                <ul id="common_tags">
                                    {% tag_cloud_for_model people.Profile as used_tags with min_count=3 %}
                                    {% for tag in used_tags %}
                                    <li class="common_tag"><a href="#">{{tag}}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="clear"></div>
                            </div>    
                            <input id="skills" type="text"  />
                            <button type="submit" class="addBtn">
                                <span>Add Skill</span>
                            </button>
                            <div id="yourSkills">
                                <ul class="tag_buttons"> </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    {% endifequal %}
                    </li>
                {% endfor %}

                <button type="submit" class="saveBtn">
                    <span>Save Changes</span>
                </button>
            </ul>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<h3 class="space">Log In Information</h3>
<div class="module">
    <form method="POST" action="{% url change_password %}">
        <ul>
            {{ password_form.as_ul }}
            <button type="submit" class="submitBtn">
                <span>Save Changes</span>
            </button>
        </ul>
    </form>
</div>
<div class="clear"></div>
{% endblock %}
