{% extends "people/base.html" %}
{% load cache %}
{% load blog %}
{% load people %}
{% load projects %}
{% load twitter_tags %}
{% load media %}

{% block title %}{{block.super}} - {% display_name p_user %}{% endblock %}

{% block extrahead %}
    {% if p_user.is_staff %}
    <link rel="alternate" type="application/rss+xml" title="Sunlight Labs blog posts by {{user}}" href="/blog/feeds/author/{{p_user}}/" />
    {% endif %}
{% endblock %}

{% block content %}
<div id="person" class="module vcard">
    <div id="personPic">
        {% gravatar p_user.email %}
    </div>
    <div id="personDetails">
        <div id="personHeader">
            {% if p_user.first_name %}
                <h2 class="fn">{{p_user.first_name}}</h2>
            {% else %}
                <h2 class="fn nickname">{{p_user.username}}</h2>
            {% endif %}
            {% ifequal user.id p_user.id %}
                <a href="{% url edit_profile %}">(edit profile)</a>
            {% endifequal %}
            <span id="personIdentifier" class="role">{{p_user.profile.get_role_display|safe}}</span>
        </div>
        <div id="userDetails" class="module">
            <dl>
                <dt>Website:</dt>
                <dd id="userWebsite"><a class="url" rel="me" href="{{p_user.profile.url|default:"#"}}">{{p_user.profile.url|default:"n/a"}}</a></dd>

                <dt id="userLocation">Location:</dt>
                <dd>{{p_user.profile.location|default:"n/a"}}</dd>
                <div class="clear"></div>

                <dt>Skills:</dt>
                <dd>{{p_user.profile.skills|default:"n/a"}}</dd>

                <dt>Badges:</dt>
                {% for badge in p_user.badges.all %}
                <dd class="badge"><img alt="{{badge.name}}" title="{{badge.name}}" src="{{badge.image_url}}"/></dd>
                {% empty %}
                <dd>This user has not earned any badges yet.</dd>
                {% endfor %}
                <div class="clear"></div>
            </dl>
            <p>
            {{p_user.profile.about}}
            </p>

            {% if user.is_authenticated %}
                <a id="contactBtn" href="{% url contact_user p_user.username %}">Contact</a>
            {% endif %}
        </div>
    </div>
    <div id="personProject">
        <h3 class="leftH3">{% possessive p_user %} Projects</h3>
        <div id="projectModule" class="module">
            <div id="leadProjects">
                <h4>Lead</h4>
                {% if p_user.projects_lead_on.all %}
                    <ul>
                    {% for project in p_user.projects_lead_on.all %}
                    <li><a class="projectName" href="{{project.get_absolute_url}}">{{project}}</a>

                    {# only show link if user==p_user==project.lead #}
                    {% ifequal user p_user %}
                    {% ifequal user project.lead %}<a class="projectEdit" href="{% url edit_project project.slug %}">edit project</a>{% endifequal %}
                    {% endifequal %}
                    </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>{{p_user.first_name}} hasn't lead any projects just yet.</p>
                {% endif %}
            </div>
            <div id="helpedProjects">
                <h4>Helped</h4>
                {% with p_user.project_roles.active.select_related as helped_projects %}
                {% if helped_projects %}
                <ul>
                    {% for r in helped_projects %}
                        <li><a href="{{r.project.get_absolute_url}}">{{r.project}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>{{p_user.first_name}} hasn't helped on any projects just yet.</p>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% get_user_posts p_user 3 as user_posts %}
    {% if user_posts %}
    <div id="sunlightPost">
        <h3 class="leftH3">{% possessive p_user %} Posts</h3>
        <div class="module">

            {% for post in user_posts %}
            <div class="smPost">
                <h4><a href="{{post.get_absolute_url}}">{{post.title}}</a></h4>
                <p>{{post.excerpt}}</p>
            </div>
            {% endfor %}

            <a class="center_viewall" href="{% url blogdor_author p_user.username %}">See all of {% possessive p_user %} posts »</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<h3 class="space">{% possessive p_user %} Location</h3>
<div id="user_map" class="module">
    {% if p_user.profile.lat_long %}
        <img src="{% static_google_map p_user.profile 198 210 %}" />
        <div id="map_label">{{p_user.profile.location|default:"n/a"}}</div>
    {% else %}
        <p>We don't know {% possessive p_user %} location.</p>
    {% endif %}
</div>
<hr></hr>
{% if p_user.profile.twitter_id %}
<h3 class="space">{% possessive p_user %} Tweets</h3>
<div id="userTweets" class="module">
    <ul>
    {% cache 3600 tweets p_user.profile.twitter_id %}
    {% get_latest_tweets p_user.profile.twitter_id 5 as tweets %}
    {% if tweets %}
    {% for tweet in tweets %}
        <li>{{tweet.text|twitterize}}</li>
    {% endfor %}
    {% else %}
        <li>No tweets to follow here, move along.</li>
    {% endif %}
    {% endcache %}
    </ul>
    <a class="center_viewall" href="http://twitter.com/{{p_user.profile.twitter_id}}">Go to {% possessive p_user %} twitter page »</a>
</div>
{% endif %}
<div class="clear"></div>
{% endblock sidebar %}
