{% extends "people/base.html" %}
{% load people %}
{% load media %}

{% block title %}
{{ block.super }}: Search People
{% endblock %}

{% block extrahead %}
{% js "jquery.tablesorter.min.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#users_table').tablesorter({headers: {2: {sorter: false} }, widgets: ['zebra'] });
    });
</script>
{% endblock %}

{% block content %}
<div class="contentHeader">
    <h2>Search For People In Your Area</h2>
</div>
<div class="module" id="searchContent">
    <a id="advancedBtn"href="#">Advanced Search</a> 
        <form id="searchForm" method="GET" action=".">
            <ul id="peopleSearch">
                <li>
                    {{form.location.label_tag}}
                    {{form.location}}
                </li>
                <li>
                    {{form.skills.label_tag}}
                    {{form.skills}}
                </li>
                <button type="submit" class="searchBtn">
                    <span>search</span>
                </button>
                <div class="clear"></div>
            </ul>
            <div id="advancedSearch">
            <ul>
                <li> {{form.name.label_tag}} {{form.name}} </li>
                <li> {{form.position.label_tag}} {{form.position}} </li>
                <li> {{form.location_range.label_tag}} {{form.location_range}} </li>
                <button type="submit" class="advsearchBtn">
                    <span>search</span>
                </button>
                <div class="clear"></div>
            </ul>
            </div>
        </form>  

{% if searched %}
    <div id="users_results" class="module">
        <h3>{{search_results|length}} Results {% if search_results.geocoded_location %} Near {{search_results.geocoded_location }} {% endif %}</h3>

        {# i'm quite sorry for this hack to get around the lack of < -james #}
        {% if search_results.10 %}
        <div id="users_scroll">
        {% endif %}
           <table id="users_table">
            <thead>
                <tr id="titles">
                    <th class="table_left sort" id="title_name">Name</th>
                    <th class="table_center table_position sort">Position</th>
                    <th class="table_center">Skills</th>
                    <th class="table_right sort">Distance <small>(mi)</small></th>
                </tr>
            </thead>
            <tbody>
                {% for up in search_results %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="table_left">
                        <a id="user_name" href="{{up.user.get_absolute_url}}">{% display_name up.user %}</a>
                    </td>
                    <td class="table_center table_position">{{up.get_role_display|safe}}</td>
                    <td class="table_center">{{up.skills|default:"n/a"}}</td>
                    <td class="table_right">{% if up.distance %} {{up.distance.mi|floatformat}} {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if search_results.10 %}
        </div>  
        {% endif %}

    </div>
{% endif %}
</div>
<div class="contentHeader">
    <h3 id="h3Header">There are <span id="communityMembers">{% num_registered_users %}</span> members of the Sunlight Labs community and growing.</h3>
</div>
<div id="timeline" class="module">
    <ul>
        {% get_latest_user_profiles as user_profiles %}
        {% for up in user_profiles %}
        <li> 
            <a href="{{ up.user.get_absolute_url }}">{% firstof up.user.first_name up.user.username %}</a> just joined
            {% if up.location %}from {{up.location}}{% endif %}
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}

{% block sidebar %}
<h3 class="space">Community Profile</h3>
<div class="module" id="communityCharts">
    {% people_skills_piechart 190x140 python:82964f ruby:bd2915 php:a5b6c9 %}
    {% people_roles_piechart 190x140 des:bf6e0b both:bfc7ba dev:2a5955 %}
</div>
<hr></hr>

{% include "events/events_box.html" %}
{% endblock %}

