{% extends "base.html" %}
{% load i18n %}

{% block title %}About The Campaign{% endblock %}

{% block body %}

<div class="column span-24">	
		<div id="contentpage" class="side_nk1">


	
	<div id="about_content_box">

		<h3 class="page_header">About the Campaign</h3>
		<ul id="about_subnav">
			<li>ABOUT</li>
			<li><a href="/about/vision/">VISION</a></li>
			<li><a href="/about/philosophy/">OUR PHILOSOPHY</a></li>
			<li><a href="/about/funding/">FUNDING</a></li>
			<li><a href="/about/sunlight/">WHO WE ARE</a></li>
		</ul>	

		<div id="clearfix">&nbsp;</div>
		

		
	<p>
		<span class="chunk">Public=Online</span> is a national, non-partisan campaign seeking to create a transparent government built on open data and information. Between now and November 2010, we are ensuring government transparency is a major issue in the mid-term elections by building a grassroots movement of citizens demanding that government information be made available online and in real-time. 
</p>
<p>

		As citizens, we need online, real-time access to government information so that we can be better informed voters and more ably hold government accountable.
	</p>
	<p>

		But government is not going to give us the data and become more transparent on its own. We must engage with it to make it so. That is the mission of the <span class="chunk">Public=Online</span> campaign.
	</p>
	<p>

		This campaign is focused on getting government to pass the transparency laws we need - laws that put government data online in real-time - by building a demand for transparency that is so large it cannot be ignored. Ultimately, we are ensuring public officials answer to us for making government transparent by telling them how important it is for hundreds of thousands of us.
	</p>
	<p>

		And we are not stopping at simply building numbers. Our campaign will catalyze citizen action to make public officials more transparent wherever they may be - in Washington, in their districts, in their state houses or in town halls. Government accountability does not end in November.
	</p>
	<p>

		<span class="chunk">So join us.</span>
	</p>
	<p>

		We're asking you to sign a pledge stating the importance of government transparency to you when you're thinking about who will receive your vote. Similarly, the pledge asks you to declare your commitment to ongoing engagement with government once the elections are over. We will target the pledge by congressional district. By signing this pledge, your officials will know how many citizens are active in their city or state.
	</p>
	<p>

		Take the first step by signing and sharing the pledge now, and let government officials everywhere know that we are serious about transparency!
		</p>
	
	</div>
	
</div>	
</div>

{% endblock %}
