{% extends "base.html" %}
{% load i18n %}

{% block title %}About The Campaign{% endblock %}

{% block body %}

<div class="column span-24">	
		<div id="contentpage" class="side_nk1">


	
	<div id="about_content_box">

		<h3 class="page_header">About the Campaign</h3>
		<ul id="about_subnav">
			<li><a href="/about/vision/">VISION</a></li>
			<li><a href="/about/cycle/">CYCLE OF TRANSPARENCY</a></li>
			<li><a href="/about/funding/">FUNDING</a></li>
			<li><a href="http://www.sunlightfoundation.com/about/">WHO WE ARE</a></li>
		</ul>	

		<div id="clearfix">&nbsp;</div>
		

		
	<p>
		<span class="chunk">Public=Online</span> is a national, non-partisan campaign that seeks to create a transparent government built on open data and information. Between now and November 2010, we are ensuring government transparency is a major issue in the mid-term elections by building a grassroots movement of citizens demanding government information be made available online and in real-time. 
</p>
<p>

		As citizens, we need online, real-time access to government information so that we can be better informed voters and active citizens, and more ably hold government accountable.

	</p>
	<p>
		But government is not going to give us the data and become more transparent on its own. We must engage and make it so. That is the mission the <span class="chunk">Public=Online</span> campaign is fulfilling. 
	</p>
	<p>

		This campaign is getting government to pass the transparency laws we need - putting government data online and in real-time - by building a voting bloc of citizens demanding transparency that is so large it cannot be ignored. We are making public officials answer for making government transparent on the campaign trail and, ultimately, at the ballot box this November.
	</p>
	<p>

		And we are not stopping at simply building numbers. Our campaign catalyzes citizen action to hold public officials to account wherever they may be - in Washington, in their districts, in their state houses or in townhalls. Once the mid-term elections are over, we will continue to hold government accountable for passing the transparency laws through our sustained engagement. Our accountability does not end at the ballot box.
	</p>
	<p>

		So join us. 
	</p>
	<p>

		We're asking you to <a href="/pledge/">sign a pledge</a> stating the importance of transparency when you're thinking about who will receive your vote. Similarly, the pledge asks us to declare our commitment to ongoing engagement with government once the elections are over. We will be targeting the pledge by congressional district, and be able to break down numbers of signed citizens by state or city to put pressure on government at every level. 
	</p>
	<p>

		Take the first step by <a href="/pledge/">signing</a> and <a href="http://local.publicequalsonline.com/page/invite/peo">sharing</a> the pledge now, and let government officials at every level know that we are serious about transparency!
	</p>
	</div>
	
</div>	
</div>

{% endblock %}
