{% extends "base.html" %}
{% load i18n %}

{% block title %}Act Now{% endblock %}

{% block body %}
<div class="column span-24">
		<div id="contentpage" class="side_jc">
			<div id="actnow_content_box">
				<h3 class="page_header">ACT NOW</h3>
				
				<p>There are several ways you can help this campaign. The first and most important thing you can do is to <a href="/pledge/">sign</a> and <a href="http://local.publicequalsonline.com/page/invite/peo">share</a> the pledge to demonstrate your support.</p>

				<p>It is through the pledge that this campaign will build political clout strong enough to move government. We need those muscles to be as big as possible.
</p>
<p>
				Throughout this campaign, we will send Letters to the Editor and make Calls to Congress. We'll also organize Days of Action around such legislation as the Public Online Information Act (<a href="http://www.opencongress.org/bill/111-h4858/show">H.R. 4858</a>) or the Read the Bill legislation (<a href="http://www.opencongress.org/bill/111-hr554/show">H.Res. 554</a>). We'll ask candidates for office questions at town halls, write blog posts diving into campaign data or post video of important events.
			</p>
			<p>
				There are a thousand things we can do together - many of which we don't even know yet - but first we must come together. For the first few weeks, that is our focus. It will also be a lot of fun!  <a href="/groups">Start or find a group in your area.</a>
			</p>
			<p>
				The second most important thing you can do right now is to educate yourself and others about what is happening in your city, state and congressional district. We don't know everything we need to know, and that's where you can help.
				</p>
				<p>
				
<p>This campaign needs those who will <a href="/volunteer/">volunteer</a> to lead and act in their communities. If you're willing to step up, just fill out <a href="/volunteer/">this form</a> and we'll be in touch!</p>

<p>Making government more transparent is a monumental task, and it's going to take all of us to make it happen. For your support, the following can't be said enough: Thank you!</p>


<!--
<ul id="act_options">
	<li><a href="/pledge/">Sign the Pledge</a></li>
	<li><a href="http://local.publicequalsonline.com/page/dashboard/view/private">Join the Campaign</a></li>
	<li><a href="/groups/">Start or join a group</a></li>
	<li><a href="/events/">Attend or host an Event</a></li>
	<li><a href="http://local.publicequalsonline.com/page/invite/peo">Invite friends to join the movement</a></li>
</ul>	
-->	
	
	
	</div>
</div>	
{% endblock %}
