{% extends "base.html" %}
{% load i18n %}

{% block title %}Act Now{% endblock %}

{% block body %}
<div class="column span-24">
		<div id="contentpage" class="side_nk4">
			<div id="actnow_content_box">
				<h3 class="page_header">ACT NOW</h3>
				<p>There are several ways you can help us. Jake will write this.</p>

<ul id="act_options">
	<li><a href="/pledge/">Sign the Pledge</a></li>
	<li><a href="http://local.publicequalsonline.com/page/dashboard/view/private">Join the Campaign</a></li>
	<li><a href="/groups/">Start or join a group</a></li>
	<li><a href="/events/">Attend or host an Event</a></li>
	<li><a href="http://local.publicequalsonline.com/page/invite/peo">Invite friends to join the movement</a></li>
</ul>	
	
	
	
	</div>
</div>	
{% endblock %}
