{% extends "base.html" %}
{% load i18n %}

{% block title %}Act Now{% endblock %}

{% block body %}
<div class="column span-24">
		<div id="contentpage" class="side_actnow">
			<div id="actnow_content_box">
				<h3 class="page_header">ACT NOW</h3>
				<p>Signing <a href="/pledge/">the pledge</a> is only the first step.  It is through this pledge that we will build political clout strong enough to move government. Groups in every city, county and state capitol need to lobby their representatives to open up government by putting public information online in real time. Grassroots pressure is the only thing that will open up government and keep it open. 
					</p><p>
					But the campaign isn't just about making sure your voice is heard: it's also about creating narratives on why open government is valuable, training citizens on how to use technology and so much more. There are a thousand things we can do together - many of which we don't even know yet - but first we must come together.  For the first few weeks, that is our focus. It will also be a lot of fun. Join the campaign and find a group in your area! Thank you!

				</p>

<ul id="act_options">
	<li><a href="/pledge/">Sign the Pledge</a></li>
	<li><a href="http://local.publicequalsonline.com/page/dashboard/view/private">Join the Campaign</a></li>
	<li><a href="/groups/">Start or join a group</a></li>
	<li><a href="/events/">Attend or host an Event</a></li>
	<li><a href="http://local.publicequalsonline.com/page/invite/peo">Invite friends to join the movement</a></li>
</ul>	
	
	
	
	</div>
</div>	
{% endblock %}
