<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
{% load media %}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Public Equals Online - Government in Real Time</title>

	{% css "screen.css" %}
	{% css_print "print.css" %}
	<!--[if IE 6]>{% css "/styles/ie.css" %}<![endif]-->
	{% css "style.css" %}


</head>
<body>

<div id="logo">&nbsp;</div>


{% block content %}


{% endblock %}

</body>
</html>
