{% extends "base.html" %}
{% load i18n %}

{% block title %}From the Sunlight Foundation Transparency Ecosystem{% endblock %}

{% block body %}

<div class="column span-24 last">
	<div id="contentpage" class="side_nk2">
		<h3 class="page_header">Local Groups</h3>
		
		<div id="groups_content_box">
		
		<p>Local groups are collections of humans with a similar interest in Transparency and Accountability in Government</p>

<h4 class="subhead">Start a Group</h4>
<form action="http://local.publicequalsonline.com/page/group_create" method="get">
<fieldset>
Group Name
<input id="start_group_name" type="text" name="name" size="20" maxlength="100" class="form_input_text" />
<input type="submit" value="Start Group &gt;" class="form_input_submit" />
</fieldset>
</form>	
	
<h4 class="subhead">Search for a Group</h4>
<form action="http://local.publicequalsonline.com/page/group" method="get">

	<fieldset>
	<p>By Keyword: <input type="text" name="q" id="search_display_name" value="" size="15" maxlength="100" /><input type="submit" value="Search"/></p>		
	<p>By Zip Code: <input type="text" name="z" id="search_zip_code" value="" size="5" maxlength="5" />
	<input type="submit" value="Search" class="form_input_submit" /></p>	
	<p>By State: <select name="state_cd" id="search_state_cd">
	                                                            <option value="" selected="selected"></option>
	                                                            <option value="AA">AA</option>
	                                                            <option value="AE">AE</option>

	                                                            <option value="AK">AK</option>
	                                                            <option value="AL">AL</option>
	                                                            <option value="AP">AP</option>
	                                                            <option value="AR">AR</option>
	                                                            <option value="AS">AS</option>
	                                                            <option value="AZ">AZ</option>

	                                                            <option value="CA">CA</option>
	                                                            <option value="CO">CO</option>
	                                                            <option value="CT">CT</option>
	                                                            <option value="DC">DC</option>
	                                                            <option value="DE">DE</option>
	                                                            <option value="FL">FL</option>

	                                                            <option value="GA">GA</option>
	                                                            <option value="GU">GU</option>
	                                                            <option value="HI">HI</option>
	                                                            <option value="ID">ID</option>
	                                                            <option value="IL">IL</option>
	                                                            <option value="IN">IN</option>

	                                                            <option value="IA">IA</option>
	                                                            <option value="KS">KS</option>
	                                                            <option value="KY">KY</option>
	                                                            <option value="LA">LA</option>
	                                                            <option value="ME">ME</option>
	                                                            <option value="MD">MD</option>

	                                                            <option value="MA">MA</option>
	                                                            <option value="MI">MI</option>
	                                                            <option value="MN">MN</option>
	                                                            <option value="MS">MS</option>
	                                                            <option value="MO">MO</option>
	                                                            <option value="MT">MT</option>

	                                                            <option value="NE">NE</option>
	                                                            <option value="NV">NV</option>
	                                                            <option value="NH">NH</option>
	                                                            <option value="NJ">NJ</option>
	                                                            <option value="NM">NM</option>
	                                                            <option value="NY">NY</option>

	                                                            <option value="NC">NC</option>
	                                                            <option value="ND">ND</option>
	                                                            <option value="OH">OH</option>
	                                                            <option value="OK">OK</option>
	                                                            <option value="OR">OR</option>
	                                                            <option value="PA">PA</option>

	                                                            <option value="PR">PR</option>
	                                                            <option value="RI">RI</option>
	                                                            <option value="SC">SC</option>
	                                                            <option value="SD">SD</option>
	                                                            <option value="TN">TN</option>
	                                                            <option value="TX">TX</option>

	                                                            <option value="UT">UT</option>
	                                                            <option value="VT">VT</option>
	                                                            <option value="VA">VA</option>
	                                                            <option value="VI">VI</option>
	                                                            <option value="WA">WA</option>
	                                                            <option value="WV">WV</option>

	                                                            <option value="WI">WI</option>
	                                                            <option value="WY">WY</option>
	                                                        </select>

	                                <input type="submit" value="Search"/></p>		
	                        </fieldset>
	                </form>	
	



</div>	
</div>
{% endblock %}
