{% extends "base.html" %}
{% load feeds %}
{% load media %}
{% load i18n %}
{% block title %}Public Equals Online{% endblock %}

{% block body %}

	<div class="column span-24">
		<div id="slider">
		<div id="main_graphic_box"><a href="/pledge/"><img src="../media/images/peo_pledge_main.jpg"></a></div>	
		<div id="main_nav_box">
		<ul id="main_nav">
			<li><a class="option_1" href="/pledge/"></a></li>
			<li><a class="option_2" href="/local/"></a></li>
			<li><a class="option_3" href="/local/"></a></li>
			<li><a class="option_4" href="/donate/"></a></li>
		</ul>				
		</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="column span-24"><div id="hor_dot">&nbsp;</div></div>	
<div class="column span-8 mission_line">
	<div id="mission_front">
	<h3>Our Mission</h3>
	<p class="front_mission">We seek to create a transparent 
	government built on open data 
	and information. We believe a 
	transparent government is one 
	more deserving of our trust, 
	allowing its citizens the ability to 
	fully participate, collaborate and 
	hold government accountable as 
	our Founders intended.
	</p>
	</div>
	
	</div>
	
<div class="column span-8">
	<div id="front_blogs">
		<h3>From the Blogs</h3>

		<ul id="front_blog_posts">
			
			{% for feature_post in feature_post %}
			<li>
				
			<h4><a href="{{ feature_post.url }}" target="_new">{{ feature_post.title }}</a></h4>
				<p><span class="front_blog_source">{{ feature_post.source }}</span> &mdash; {{ feature_post.summary }}</p>

			</li>
			{% endfor %}
		
		</ul>			
	</div>	
</div>

	<div class="column span-8 last">
		<div id="upcoming_front">		
			<h3>Upcoming Events</h3>
			<ul id="front_upcoming">
	 			{% headlines "upcoming_events" 5 %}	
			</ul>	
		</div>
	</div>

{% endblock %}
