{% extends "base.html" %}
{% load feeds %}
{% load media %}
{% load i18n %}
{% block title %}Public Equals Online{% endblock %}

{% block body %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" ></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" ></script>
<div class="column span-24">
	<div id="featured">
		<ul class="ui-tabs-nav">
	    	<li class="ui-tabs-nav-item ui-tabs-selected" id="nav-feature-1">
				<div id="main_nav_sprite"><a id="option1" href="#feature-1"></a></div>
			</li>
	    	<li class="ui-tabs-nav-item" id="nav-feature-2">
	    		<div id="main_nav_sprite"><a id="option2" href="#feature-2"></a></div>
	    	</li>
	    	<li class="ui-tabs-nav-item" id="nav-feature-3">
	    		<div id="main_nav_sprite"><a id="option3" href="#feature-3"></a></div>
	    	</li>
	    	<li class="ui-tabs-nav-item" id="nav-feature-4">
	    		<div id="main_nav_sprite"><a id="option4" href="#feature-4"></a></div>
	    	</li>
		</ul>
	
	<!-- First Content -->
	<div id="feature-1" class="ui-tabs-panel" style=""><a href="/pledge/"><img src="../media/images/peo_pledge_main.jpg"></a></div>





	<!-- Second Content -->
	<div id="feature-2" class="ui-tabs-panel ui-tabs-hide" style="">
	
	<div id="front_carousel_groups">
	<h3>Search for a Group</h3>
	<form action="http://local.publicequalsonline.com/page/group" method="get">
	<p>Use the form below to search for groups by keyword or enter a 5 digit zip code to search for groups near a zip code.</p>
	
		<fieldset>
		<p>By Keyword: <input type="text" name="q" id="search_display_name" value="" size="15" maxlength="100" /><input type="submit" value="Search"/></p>		
		<p>By Zip Code: <input type="text" name="z" id="search_zip_code" value="" size="5" maxlength="5" />
		<input type="submit" value="Search" class="form_input_submit" /></p>	
		<p>By State: <select name="state_cd" id="search_state_cd">
		                                                            <option value="" selected="selected"></option>
		                                                            <option value="AA">AA</option>
		                                                            <option value="AE">AE</option>

		                                                            <option value="AK">AK</option>
		                                                            <option value="AL">AL</option>
		                                                            <option value="AP">AP</option>
		                                                            <option value="AR">AR</option>
		                                                            <option value="AS">AS</option>
		                                                            <option value="AZ">AZ</option>

		                                                            <option value="CA">CA</option>
		                                                            <option value="CO">CO</option>
		                                                            <option value="CT">CT</option>
		                                                            <option value="DC">DC</option>
		                                                            <option value="DE">DE</option>
		                                                            <option value="FL">FL</option>

		                                                            <option value="GA">GA</option>
		                                                            <option value="GU">GU</option>
		                                                            <option value="HI">HI</option>
		                                                            <option value="ID">ID</option>
		                                                            <option value="IL">IL</option>
		                                                            <option value="IN">IN</option>

		                                                            <option value="IA">IA</option>
		                                                            <option value="KS">KS</option>
		                                                            <option value="KY">KY</option>
		                                                            <option value="LA">LA</option>
		                                                            <option value="ME">ME</option>
		                                                            <option value="MD">MD</option>

		                                                            <option value="MA">MA</option>
		                                                            <option value="MI">MI</option>
		                                                            <option value="MN">MN</option>
		                                                            <option value="MS">MS</option>
		                                                            <option value="MO">MO</option>
		                                                            <option value="MT">MT</option>

		                                                            <option value="NE">NE</option>
		                                                            <option value="NV">NV</option>
		                                                            <option value="NH">NH</option>
		                                                            <option value="NJ">NJ</option>
		                                                            <option value="NM">NM</option>
		                                                            <option value="NY">NY</option>

		                                                            <option value="NC">NC</option>
		                                                            <option value="ND">ND</option>
		                                                            <option value="OH">OH</option>
		                                                            <option value="OK">OK</option>
		                                                            <option value="OR">OR</option>
		                                                            <option value="PA">PA</option>

		                                                            <option value="PR">PR</option>
		                                                            <option value="RI">RI</option>
		                                                            <option value="SC">SC</option>
		                                                            <option value="SD">SD</option>
		                                                            <option value="TN">TN</option>
		                                                            <option value="TX">TX</option>

		                                                            <option value="UT">UT</option>
		                                                            <option value="VT">VT</option>
		                                                            <option value="VA">VA</option>
		                                                            <option value="VI">VI</option>
		                                                            <option value="WA">WA</option>
		                                                            <option value="WV">WV</option>

		                                                            <option value="WI">WI</option>
		                                                            <option value="WY">WY</option>
		                                                        </select>

		                                <input type="submit" value="Search"/></p>		
		                        </fieldset>
		                </form>
					</div>
</div>


    <!-- Third Content -->
    <div id="feature-3" class="ui-tabs-panel ui-tabs-hide" style="">
    	
		<div id="front_carousel_events">
			<h3 class="page_header">Find an Event</h3>
			<form action="http://local.publicequalsonline.com/page/event/search_simple" method="post" name="event_simple_search_form" id="event_simple_search_form">
			<p><input name="form_type" type="hidden" value="simple" />Zip Code:<input id="event_search_zip" size="6" maxlength="12" onkeypress="" name="zip" type="text" /></p> 
			<p>Search Radius:<input size="4" maxlength="4" onkeypress="" name="radius" type="text" value="100" />&nbsp;&nbsp;miles <small>Max radius: 100 miles</small></p>
	<input type="submit" value="Find Events" />
	</form>
	</div>
</div> <!--ends feature-3 div container -->


    <!-- Fourth Content -->
    <div id="feature-4" class="ui-tabs-panel ui-tabs-hide">Donate Form Goes Here.</div>
	</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#featured").tabs({fx:{opacity: "toggle"}});
});
</script>

</div>



<!--	
<div class="column span-24">
		<div id="slider">
			<div id="main_graphic_box"><a href="/pledge/"><img src="../media/images/peo_pledge_main.jpg"></a></div>	
				<div id="main_nav_box">
					<ul id="main_nav">
						<li><a class="option_1" href="/pledge/"></a></li>
						<li><a class="option_2" href="/local/"></a></li>
						<li><a class="option_3" href="/local/"></a></li>
						<li><a class="option_4" href="/donate/"></a></li>
					</ul>				
				</div>
			</div>
		</div>
	</div>
-->


<div class="container">
	<div class="column span-24"><div id="hor_dot">&nbsp;</div></div>	
<div class="column span-8 mission_line">
	<div id="mission_front">
	<h3>Our Mission</h3>
	<p class="front_mission">We seek to create a transparent 
	government built on open data 
	and information. We believe a 
	transparent government is one 
	more deserving of our trust, 
	allowing its citizens the ability to 
	fully participate, collaborate and 
	hold government accountable as 
	our Founders intended.
	</p>
	</div>
	
	</div>
	
<div class="column span-8">
	<div id="front_blogs">
		<h3>From the Blogs</h3>

		<ul id="front_blog_posts">
			
			{% for feature_post in feature_post %}
			<li>
				
			<h4><a href="{{ feature_post.url }}" target="_new">{{ feature_post.title }}</a></h4>
				<p><span class="front_blog_source">{{ feature_post.source }}</span> &mdash; {{ feature_post.summary }}</p>

			</li>
			{% endfor %}
		
		</ul>			
	</div>	
</div>

	<div class="column span-8 last">
		<div id="upcoming_front">		
			<h3>Upcoming Events</h3>
			<ul id="front_upcoming">
	 			{% headlines "upcoming_events" 5 %}	
			</ul>	
		</div>
	</div>

{% endblock %}
