<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<link rel="stylesheet" href="http://assets.publicequalsonline.com/style/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="http://assets.publicequalsonline.com/style/print.css" type="text/css" media="print" />
	<!--[if IE 6]><link rel="stylesheet" href="http://assets.publicequalsonline.com/style/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="../media/styles/style.css" type="text/css" media="screen, projection" />

<!-- icons -->
	<link rel="shortcut icon" href="http://assets.publicequalsonline.com/favicon.ico" type="image/x-icon">
	<link rel="icon" href="http://assets.publicequalsonline.com/favicon.ico" type="image/x-icon">
	<link href="http://assets.publicequalsonline.com/favicon.ico" rel="shortcut icon" type="image/ico" />
<!-- feeds -->
	<link rel="alternate" type="application/rss+xml" title="Public Equals Online" href="http://www.publicequalsonline.com/feeds/latest/" />

<!-- scripts -->
			
<title>Public Equals Online</title>

<style>



</style>

</head>
<body>
<!-- this will be part of the wrapper -->	
	
<div id="stripe">&nbsp;</div>

<div class="container">
	<div class="column span-8">
		<div id="logo_topleft">switch to the H1 tag</div>
	</div>
	<div class="column span-16 last">
		<div id="joinbox">
			<span class="join_strong">54,252 STRONG</span><span class="join_us"><a href="#">JOIN US</a></span>
			<br />
			<span class="already_member">ALREADY A MEMBER?</span><span class="get_in_here"><a href="http://local.publicequalsonline.com/page/dashboard/view/private">GET IN HERE!</a></span>
		</div>
	</div>	
</div>

<div class="container">
	<div class="column span-20">
		<ul id="topnav">
			<li><a href="/">HOME</li>
			<li><a href="/pledge/">ACT NOW</a></li>
			<li><a href="/local/">GET LOCAL</a></li>
			<li><a href="/toolkit/">GET THE TOOLKIT</a></li>
			<li><a href="/about/">ABOUT THE CAMPAIGN</a></li>
		</ul>	
	</div>	
	<div class="column span-4 last">
		<ul id="social_bar">
			<li id="panel1b"><a href="rssfeed"></a></li>			
			<li id="panel2b"><a href="http://twitter.com/sunlightnetwork"></a></li>
			<li id="panel3b"><a href="facebook"></a></li>
			<li id="panel4b"><a href="flickr"></a></li>
			<li id="panel5b"><a href="youtube"></a></li>
		</ul>

	</div>
	
	<div class="column span-24">
		<div id="main_graphic_box"><a href="/pledge/"><img src="../media/images/peo_pledge_main.jpg"></a></div>	
		<div id="main_nav_box">
		<ul id="main_nav">
			<li><a class="option_1" href="#"></a></li>
			<li><a class="option_2" href="#"></a></li>
			<li><a class="option_3" href="#"></a></li>
			<li><a class="option_4" href="#"></a></li>
		</ul>				
		</div>
	</div>
</div>

<div class="container">
	<div class="column span-24"><div id="hor_dot">&nbsp;</div></div>	
<div class="column span-8">
	<div id="mission_front">
	<h3>Mission</h3>
	<p class="front_mission">We seek to create a transparent 
	government built on open data 
	and information. We believe a 
	transparent government is one 
	more deserving of our trust, 
	allowing its citizens the ability to 
	fully participate, collaborate and 
	hold government accountable as 
	our Founders intended.
	</p>
	</div>
	
	</div>
<div class="column span-8">
	<div id="front_blogs">
		<h3>From the Blog(s)</h3>
		<ul id="front_blog_posts">
			<li>
			<h4>Sunlight in New Mexico is growing!</h4>
			<p>SOME BLOG - When you have a legislative session that only lasts 
			60 days, bills move quickly. All three bills below have passed! 
			This shows how quickly transparency is becoming ...</p>
			</li>

			<li>
			<h4>Sunlight in New Mexico is growing!</h4>
			<p>SOME BLOG - When you have a legislative session that only lasts 
			60 days, bills move quickly. All three bills below have passed! 
			This shows how quickly transparency is becoming ...</p>
			</li>

			<li>
			<h4>Sunlight in New Mexico is growing!</h4>
			<p>SOME BLOG - When you have a legislative session that only lasts 
			60 days, bills move quickly. All three bills below have passed! 
			This shows how quickly transparency is becoming ...</p>
			</li>
		</ul>			
	</div>	
</div>

	<div class="column span-8 last">
		<div id="upcoming_front">		
			<h3>Upcoming Events</h3>
			<ul id="front_upcoming">
			<li>Team Orange - Transparency Happy Hour 
			@ The Big Hunt on 02.14 at 6:30pm</li>
			<li>Team Orange - Transparency Happy Hour 
			@ The Big Hunt on 02.14 at 6:30pm</li>
			<li>Team Orange - Transparency Happy Hour 
			@ The Big Hunt on 02.14 at 6:30pm</li>
			<li>Team Orange - Transparency Happy Hour 
			@ The Big Hunt on 02.14 at 6:30pm</li>
			</ul>	
		</div>
	</div>
</div> <!--ends container-->

<!--footer -->
<div class="container">
<div class="column span-24">
	<div id="hor_dot">&nbsp;</div>
	Footer here.</div>
</div>
</body>
</html>
