{% extends "base.html" %}
{% load comments %}
{% load i18n %}
{% load markup %}

{% block content %}

<form id="errorForm" action="{% comment_form_target %}" method="post">
{% if form.errors %}
<h2 id="errorTitle">{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please Correct the Errors Below{% endblocktrans %}</h2>
<div class="module">
{% else %}
    <h2>{% trans "Preview your comment" %}</h2>
    <div class="module">
    <blockquote>{{ comment|markdown }}</blockquote>
    <p>
    {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
    </p>
{% endif %}


{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
          {% if field.errors %}<p class="error">{{ field.errors }}</p>{% endif %}
          <p{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>{{ field.label_tag }} {{ field }}</p>
    {% endif %}
{% endfor %}
    <button class="postBtn" id="nonuser_postBtn" name="post" type="submit"><span>Post</span></button>
</form>
</div>
{% endblock %}
