{% extends "blogdor/base.html" %}

{% block title %}
    Sunlight Labs: Blog
    {% if tag %} posts tagged {{tag}} {% endif %}
    {% if author %} posts by {{author}} {% endif %}
{% endblock %}

{% block extrahead %}
    {% if tag %}
    <link rel="alternate" type="application/rss+xml" title="Sunlight Labs' {{tag}} posts" href="/blog/feeds/tag/{{tag}}/" />
    {% endif %}
    {% if author %}
    <link rel="alternate" type="application/rss+xml" title="Sunlight Labs' posts by {{user}}" href="/blog/feeds/author/{{author}}/" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Sunlight Labs' latest blog posts" href="/blog/feeds/latest/" />
    <link rel="alternate" type="application/rss+xml" title="Recent comments to the Sunlight Labs blog" href="/blog/feeds/comments/" />
{% endblock %}

{% block content %}
    <div class="contentHeader">
        <h2 class="post">Recent Posts
            {% if tag %} tagged '{{tag}}' {% endif %}
            {% if author %} by {% firstof author.firstname author.username %} {% endif %}
        </h2>
    </div>
    <div class="module hfeed">
        {% for post in post_list %}
            {% include "blogdor/post.html" %}
        {% endfor %}
        <!--<a id="centered" href="#">« Older Posts</a>-->
    </div>
    {% include "pagination_div.html" %}
{% endblock %}
