{% extends "blogdor/base.html" %}
{% load markup %}

{% block title %}
Sunlight Labs: Blog posts from {{ month|date:"F Y" }}
{% endblock title %}

{% block content %}
    <div class="contentHeader">
        <h2 class="post">Posts from {{ month|date:"F Y" }}</h2>
    </div>
    <div class="module hfeed">
        {% for post in post_list %}
            {% include "blogdor/post.html" %}
        {% endfor %}

	       <a id="previousMonth" href="{% url blogdor_archive_month previous_month.year, previous_month|date:"m" %}">« {{ previous_month|date:"F Y" }}</a>
        {% if next_month %}
            <a id="nextMonth" href="{% url blogdor_archive_month next_month.year, next_month|date:"m" %}">{{ next_month|date:"F Y" }} »</a>
        {% endif %}
    </div>
{% endblock %}

