{% extends "events/base.html" %}
{% load media %}

{% block title %} Add an Event {% endblock %}

{% block extrahead %}
{% css "styles/jquery-ui-1.7.2.custom.css" %}
{% js "scripts/jquery-ui-1.7.2.custom.min.js" %}
<script type="text/javascript">
    $(function() {
        $('#id_start_date_0').datepicker({ dateFormat: 'yy-mm-dd'});
        $('#id_end_date_0').datepicker({ dateFormat: 'yy-mm-dd'} );
        $('#id_related_projects').multiselect();
    });
</script>
{% endblock %}

{% block body %}
<div class="column span-24 last">
	<div id="contentpage">
		<div id="flat_contentpage">
		  {% if event %}
	            <h2 class="page_header">Edit Your Event</h2>
	        {% else %}
				<h2 class="page_header">Add an Event</h2>


       
        <p> Use the form below to tell the community about your event.</p>
        {% endif %}
        <form id="eventForm" method="POST" action="." enctype="multipart/form-data">
            <ul id="generic_form">
                {% for field in form %}
                    {% ifnotequal field.name "start_date" %}
                    {% ifnotequal field.name "end_date" %} 
                        {# normal field display #}
                        <li> {{field.errors}} {{field.label_tag}} {{ field }} </li>

                        {% else %} {# end_date #}

                        <li>
                            {{ field.errors }}
                            <label id="endTitle" >End</label>
                            <ul class="timeDetails">{{ field }}</ul>
                        </li>

                        {% endifnotequal %}
                    {% else %} {# start_date #}
                        <li>
                        {{ field.errors }}
                        <label id="startTitle">Start</label>
                        <ul class="timeDetails"> {{ field }} </ul>
                        </li>
                    {% endifnotequal %}
                {% endfor %}
              <input type="submit" value="Add Your Event" />
  
                </button>
            </ul>
        </form>
		</div>
	</div>
</div>
{% endblock %}
