{% extends "events/base.html" %}
{% load blog %}
{% load people %}

{% block title %}{{block.super}} - {{event}}{% endblock title %}

{% block content %}
<div class="module vevent">
    <div id="eventDetail_Title" class="contentHeader">
        <h2 class="summary {% ifequal event.creator user %}addedEvent{% endifequal %}">{{event}}</h2>
        {% ifequal event.creator user %}
            <a class="projectEdit" href="{% url edit_event event.id %}">edit event</a>
        {% endifequal %}
        <div class="clear"></div>
    </div>
    <div id="eventDetails" class="module">
        <dl class="eventAuthorMetadata">
            <dt>This event was added by</dt>
            <dd><a href="{{event.creator.get_absolute_url}}">{% display_name event.creator %}</a></dd>
        </dl>
        <div id="eventMetaData">
            {% if finished %}
            <p class="tip">This event has already taken place.</p>
            {% endif %}
            <dl>
                <dt>Start Date:</dt>
                <dd>
                    <abbr class="dtstart" title="{{ event.start_date.isoformat }}">
                        {{ event.start_date|date}}
                    </abbr>
                </dd>

                <dt>End Date:</dt>
                <dd>
                    <abbr class="dtend" title="{{ event.end_date.isoformat }}">
                        {{ event.end_date|date}}
                    </abbr>
                </dd>
                <div class="clear"></div>

                <dt class="eventLocation">Location:</dt>
                <dd class="location eventLocation">{{ event.location }}</dd>

                <dt>URL:</dt>
                <dd class="url">{{ event.url|urlize }}</dd>

                {% with event.related_projects.all as projects %}
                {% if projects %}
                    <dt class="relatedProjects">Related Projects:</dt>
                    {% for project in projects %}
                        <dd class="project"><a href="{{project.get_absolute_url}}">{{project}}</a></dd>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </dl>
            <div class="clear"></div>
        </div>
        <span class="description">{{ event.description }}</span>

        {% if not finished %}
        {% with event.attendances.all as attendances %}
        <div id="attend_event">
            {% if attendances %}
            <h3 id="attendeesTitle">Attendees</h3>
            <ul id="attendeeList">
                {% for att in attendances %}
                <li>
                    <dl>
                        <dt>Photo</dt>
                        <dd><a href="{% url user_profile att.user.username %}">{% gravatar att.user.email %}</a></dd>

                        <dt>Name of Attendee</dt>
                        <dd><a href="{% url user_profile att.user.username %}">{% display_name att.user %}</a></dd>
                
                        <dt>Number of Guests</dt>
                        <dd id="eventGuests">{% ifnotequal att.guests 0 %}+{{att.guests}}{% else %}&nbsp;{% endifnotequal %}</dd>
                        
                        <dt>Attendees Message</dt>
                        <dd id="eventMessage">{{att.message}}</dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <h3>I'm Interested</h3>
            {% if user.is_authenticated %}
            <form id="joinProjectForm" method="POST" action=".">
                <ul>
                    {{ form.as_ul }}
                    <button type="submit" class="signupBtn">
                        <span>Sign Up</span>
                    </button>
                </ul>
            </form>
            {% else %}
            Please <a href="{% url openid-register %}">Create an Account</a> to RSVP
            {% endif %}
        </div>
        {% endwith %}
        {% endif %}
    </div>
</div>
{% endblock %}
