{% extends "events/base.html" %}

{% block content %}
<div class="module">
    <div class="contentHeader">
        <h2>{{month|date:"M y"}}</h2>
    </div>


    <div class="module">
        {% for event in event_list %}
        <a href="{{event.get_absolute_url}}">{{event}}</a>
        {% endfor %}
    </div>


    <div>
        {% if previous_month %} <a href="{% url events_for_month previous_month.year previous_month|date:"m" %}">{{ previous_month|date:"M y" }}</a> {% endif %}
        {% if next_month %} <a href="{% url events_for_month next_month.year next_month|date:"m" %}">{{ next_month|date:"M y" }}</a> {% endif %}
    </div>
</div>
{% endblock %}
