{% extends "events/base.html" %}

{% block content %}
<div class="contentHeader">
    <h2 class="events">Events</h2>
</div>

<div id="eventsList" class="module">

    <dl>
        {% for event in event_list %}
        <dt><a class="eventTitle" href="{{event.get_absolute_url}}">{{event.title}}</a></dt>
        <dd class="event_date">{{event.start_date|date:"M d"}}{% if event.end_date %} &ndash; {{ event.end_date|date:"M d" }} {% endif %}</dd>
        <dd class="event_location endEvent_list">{{event.location}}</dd>
        {% endfor %}
    </dl>

</div>

{% endblock %}

{% block sidebar %}
<div id="planEvent">
    <a href="{% url new_event %}">Plan An Event For Your Local Community.</a>
</div>
<div class="clear"></div>
{% endblock %}
