{% extends "events/base.html" %}

{% block title %}All Events{% endblock %}

{% block body %}

<div class="column span-24">
	<div id="contentpage">
		<div id="flat_contentpage">
			<h2>Events</h2>
    		<p><a href="{% url new_event %}">Plan An Event For Your Local Community.</a></p>

		        <table class="projects_table">
		        <thead>
		            <tr id="titles">
		                <th class="table_left sort" id="title_name">Title</th>
		                <th class="table_center table_position sort">Date</th>
		                <th class="table_right sort">Location</th>
		            </tr>
		        </thead>
		        <tbody>
        {% for event in event_list %}
    <tr class="{% cycle 'one' 'two' %}">
			<td><a class="eventTitle" href="{{event.get_absolute_url}}">{{event.title}}</a></p>
       		<td>{{event.start_date|date:"M d"}}{% if event.end_date %} &ndash; {{ event.end_date|date:"M d" }} </td>{% endif %}
        	<td>{{event.location}}</td>
</tr>
        {% endfor %}
	</table>

		</div>
	</div>
</div>


{% endblock %}




