{% extends "events/base.html" %}
{% load media %}

{% block title %}{{block.super}}: Events{% endblock %}

{% block extrahead %}
{% js "jquery.tablesorter.min.js" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#events_table').tablesorter({widgets: ['zebra'] });
    });
</script>
{% endblock %}

{% block content %}
<div class="contentHeader">
    <h2>Search For Events In Your Area</h2>
</div>

<div class="module" id="searchContent">
    <a id="advancedBtn"href="#">Advanced Search</a>
    <form id="searchForm" method="GET" action=".">
       {{form.location.label_tag}} {{form.location}}
        <button type="submit" class="searchBtn">
            <span>search</span>
        </button>
        <div id="advancedSearch">
            <ul class="advanced_search">
                <li>{{form.name.label_tag}} {{form.name}}</li>
                <li>{{form.location_range.label_tag}} {{form.location_range}}</li>
            </ul>
            <button type="submit" class="searchBtn_events">
                <span>search</span>
            </button>
        </div>    
        <div class="clear"></div>
    </form>

{% if searched %}
<div id="events_results">
<h3>{{search_results|length}} Events Found {% if search_results.geocoded_location %} Near {{search_results.geocoded_location }} {% endif %}</h3>
    <table id="events_table">
        <thead>
            <tr id="titles">
                <th class="table_left sort" id="title_name">Name</th>
                <th class="table_center table_position sort">Location</th>
                <th class="table_right sort">Distance <small>(mi)</small></th>
            </tr>
        </thead>
        <tbody>
            {% for event in search_results %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="table_left">
                    <a id="event_name" href="{{ event.get_absolute_url }}">{{event}}</a>
                </td>
                <td class="table_center table_position">{{ event.location }}</td>
                <td class="table_right">{% if event.distance %} {{event.distance.mi|floatformat}} {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</div>

<div class="contentHeader">
    <h3 id="h3Header">Upcoming Events</h3>
</div>
<div id="eventsList" class="module eventsSearch">
    <dl>
        {% for event in event_list %}
        <dt><a class="eventTitle" href="{{event.get_absolute_url}}">{{event.title}}</a></dt>
        <dd class="event_date">{{event.start_date|date:"M d"}}{% if event.end_date %} &ndash; {{ event.end_date|date:"M d" }} {% endif %}</dd>
        <dd class="event_location endEvent_list">{{event.location}}</dd>
        {% endfor %}
    </dl>
</div>

{% endblock %}

{% block sidebar %}
<div class="planEvent module">
    <a href="{% url new_event %}">Plan An Event For Your Local Community.</a>
</div>
<div class="clear"></div>
{% endblock %}
